.version.instalaciones /* version checker */
{
	color: #0000F6;
	background-color: #573DBF;
}

.html
{
	background: #EEEFEA url("../images/bg.gif") no-repeat center center fixed;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 817px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.189);
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FCFDFB;
	background-color: rgba(252,253,251,0.9);
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -187px;
	margin-bottom: -181px;
	width: 0.01px;
}

#pu3273
{
	width: 0.01px;
	margin-left: 15px;
}

#u3273
{
	z-index: 93;
	width: 387px;
	margin-right: -10000px;
}

#u5403-4
{
	z-index: 138;
	width: 136px;
	min-height: 16px;
	margin-right: -10000px;
	margin-top: 66px;
	left: 564px;
}

#u5403-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 136px;
	margin: 66px -10000px 0px 0px;
}

#u4841
{
	z-index: 134;
	width: 40px;
	margin-right: -10000px;
	margin-top: 55px;
	left: 720px;
}

#u4846
{
	z-index: 136;
	width: 40px;
	margin-right: -10000px;
	margin-top: 55px;
	left: 780px;
}

#u4841:hover,#u4846:hover
{
	width: 40px;
	min-height: 0px;
	margin: 55px -10000px 0px 0px;
}

#pamphletu3578
{
	z-index: 99;
	width: 0.01px;
	height: 82px;
	margin-right: -10000px;
	margin-top: 21px;
	left: 840px;
}

#u3579
{
	z-index: 100;
	width: 80px;
	margin-right: -10000px;
	margin-top: 2px;
	left: 2px;
}

#u3580
{
	width: 82px;
	top: -2px;
	left: -2px;
}

#u3580:hover
{
	width: 82px;
	min-height: 0px;
	margin: 0px;
}

#u3581
{
	z-index: 102;
	width: 80px;
	height: 80px;
	margin-right: -10000px;
	margin-top: 2px;
	left: 2px;
}

#u3580:hover #u3581
{
	width: 80px;
	height: 80px;
	min-height: 0px;
	margin: 2px -10000px 0px 0px;
}

#u3580.PamphletThumbSelected #u3581
{
	width: 80px;
	height: 80px;
	min-height: 0px;
	margin: 2px -10000px 0px 0px;
}

#u3586popup
{
	z-index: 103;
}

#u3586
{
	width: 577px;
	padding-bottom: 44px;
	top: 323px;
	left: -656px;
}

#u3587
{
	z-index: 104;
	width: 487px;
	height: 229px;
	margin-right: -10000px;
	top: 22px;
	left: 22px;
	padding: 26px 23px 36px;
}

#u3601-4
{
	z-index: 112;
	width: 434px;
	min-height: 57px;
	padding: 8px 6px 6px 46px;
}

#u3597-6
{
	z-index: 106;
	width: 441px;
	min-height: 31px;
	margin-left: 39px;
	top: -5px;
	margin-bottom: -5px;
}

#pu3595
{
	width: 0.01px;
	margin-left: 49px;
	margin-top: 4px;
}

#u3595
{
	z-index: 105;
	width: 56px;
	height: 55px;
	margin-right: -10000px;
	left: 277px;
}

.ie #u3595
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u3590-4
{
	z-index: 120;
	width: 87px;
	min-height: 28px;
	margin-right: -10000px;
	margin-top: 40px;
	left: 254px;
}

#u3790
{
	z-index: 124;
	width: 56px;
	margin-right: -10000px;
	margin-top: 22px;
}

#u3594-4
{
	z-index: 116;
	width: 74px;
	min-height: 28px;
	margin-right: -10000px;
	margin-top: 40px;
	left: 67px;
}

#u3788
{
	z-index: 126;
	width: 56px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 186px;
}

#u3790:hover,#u3788:hover
{
	width: 56px;
	min-height: 0px;
	margin: 22px -10000px 0px 0px;
}

#u3604
{
	width: 30px;
	padding-bottom: 5px;
	top: 350px;
	left: -134px;
}

#u3605-4
{
	z-index: 129;
	width: 20px;
	min-height: 16px;
	padding-top: 4px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 5px;
}

#pu403
{
	width: 0.01px;
	margin-left: -15px;
	margin-top: 26px;
}

#u403
{
	z-index: 5;
	width: 989px;
	margin-right: -10000px;
}

#menuu317
{
	z-index: 7;
	width: 953px;
	padding-bottom: 8px;
	margin-right: -10000px;
	margin-top: 1px;
	left: 15px;
}

#u325
{
	width: 58px;
	min-height: 27px;
	margin-right: -10000px;
	top: 4px;
	left: 4px;
}

#u328
{
	width: 58px;
	padding-bottom: 6px;
}

#u328:hover
{
	width: 58px;
	min-height: 0px;
	margin: 0px;
}

#u328:active
{
	width: 58px;
	min-height: 0px;
	margin: 0px;
}

#u328.MuseMenuActive
{
	width: 58px;
	min-height: 0px;
	margin: 0px;
}

#u330-4
{
	width: 45px;
	min-height: 17px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 3px;
	left: 4px;
}

#u328:hover #u330-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 45px;
	margin: 0px -10000px 0px 0px;
}

#u328:active #u330-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 45px;
	margin: 0px -10000px 0px 0px;
}

#u328.MuseMenuActive #u330-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 45px;
	margin: 0px -10000px 0px 0px;
}

#u353
{
	width: 136px;
	min-height: 27px;
	margin-right: -10000px;
	top: 4px;
	left: 75px;
}

#u354
{
	width: 136px;
	padding-bottom: 6px;
}

#u354:hover
{
	width: 136px;
	min-height: 0px;
	margin: 0px;
}

#u354:active
{
	width: 136px;
	min-height: 0px;
	margin: 0px;
}

#u354.MuseMenuActive
{
	width: 136px;
	min-height: 0px;
	margin: 0px;
}

#u356-4
{
	width: 123px;
	min-height: 17px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 3px;
	left: 4px;
}

#u354:hover #u356-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 123px;
	margin: 0px -10000px 0px 0px;
}

#u354:active #u356-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 123px;
	margin: 0px -10000px 0px 0px;
}

#u354.MuseMenuActive #u356-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 123px;
	margin: 0px -10000px 0px 0px;
}

#u318
{
	width: 105px;
	min-height: 27px;
	margin-right: -10000px;
	top: 4px;
	left: 224px;
}

#u321
{
	width: 105px;
	padding-bottom: 6px;
}

#u321:hover
{
	width: 105px;
	min-height: 0px;
	margin: 0px;
}

#u321:active
{
	width: 105px;
	min-height: 0px;
	margin: 0px;
}

#u324-4
{
	width: 92px;
	min-height: 17px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 3px;
	left: 4px;
}

#u321:hover #u324-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 92px;
	margin: 0px -10000px 0px 0px;
}

#u321:active #u324-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 92px;
	margin: 0px -10000px 0px 0px;
}

#u321.MuseMenuActive #u324-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 92px;
	margin: 0px -10000px 0px 0px;
}

#u5155
{
	width: 174px;
	min-height: 27px;
	margin-right: -10000px;
	top: 4px;
	left: 342px;
}

#u5156
{
	width: 174px;
	padding-bottom: 6px;
}

#u5156:hover
{
	width: 174px;
	min-height: 0px;
	margin: 0px;
}

#u5156:active
{
	width: 174px;
	min-height: 0px;
	margin: 0px;
}

#u5156.MuseMenuActive
{
	width: 174px;
	min-height: 0px;
	margin: 0px;
}

#u5158-4
{
	width: 161px;
	min-height: 17px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 3px;
	left: 4px;
}

#u5156:hover #u5158-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 161px;
	margin: 0px -10000px 0px 0px;
}

#u5156:active #u5158-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 161px;
	margin: 0px -10000px 0px 0px;
}

#u5156.MuseMenuActive #u5158-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 161px;
	margin: 0px -10000px 0px 0px;
}

#u332
{
	width: 128px;
	min-height: 27px;
	margin-right: -10000px;
	top: 4px;
	left: 529px;
}

#u333
{
	width: 128px;
	padding-bottom: 6px;
}

#u333:hover
{
	width: 128px;
	min-height: 0px;
	margin: 0px;
}

#u333:active
{
	width: 128px;
	min-height: 0px;
	margin: 0px;
}

#u333.MuseMenuActive
{
	width: 128px;
	min-height: 0px;
	margin: 0px;
}

#u335-4
{
	width: 115px;
	min-height: 17px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 3px;
	left: 4px;
}

#u333:hover #u335-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 115px;
	margin: 0px -10000px 0px 0px;
}

#u333:active #u335-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 115px;
	margin: 0px -10000px 0px 0px;
}

#u333.MuseMenuActive #u335-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 115px;
	margin: 0px -10000px 0px 0px;
}

#u390
{
	width: 144px;
	min-height: 27px;
	margin-right: -10000px;
	top: 4px;
	left: 670px;
}

#u393
{
	width: 144px;
	padding-bottom: 6px;
}

#u393:hover
{
	width: 144px;
	min-height: 0px;
	margin: 0px;
}

#u393:active
{
	width: 144px;
	min-height: 0px;
	margin: 0px;
}

#u393.MuseMenuActive
{
	width: 144px;
	min-height: 0px;
	margin: 0px;
}

#u396-4
{
	width: 132px;
	min-height: 17px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 3px;
	left: 4px;
}

#u393:hover #u396-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 132px;
	margin: 0px -10000px 0px 0px;
}

#u393:active #u396-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 132px;
	margin: 0px -10000px 0px 0px;
}

#u393.MuseMenuActive #u396-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 132px;
	margin: 0px -10000px 0px 0px;
}

#u380
{
	width: 122px;
	min-height: 27px;
	margin-right: -10000px;
	top: 4px;
	left: 827px;
}

#u383
{
	width: 122px;
	padding-bottom: 6px;
}

#u383:hover
{
	width: 122px;
	min-height: 0px;
	margin: 0px;
}

#u383:active
{
	width: 122px;
	min-height: 0px;
	margin: 0px;
}

#u383.MuseMenuActive
{
	width: 122px;
	min-height: 0px;
	margin: 0px;
}

#u386-4
{
	width: 110px;
	min-height: 17px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 3px;
	left: 4px;
}

#u383:hover #u386-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u383:active #u386-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u383.MuseMenuActive #u386-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u1002
{
	z-index: 142;
	width: 354px;
	background-color: transparent;
	margin-left: 47px;
	margin-top: 31px;
	position: relative;
}

#u3215-5
{
	z-index: 232;
	width: 851px;
	min-height: 66px;
	background-color: transparent;
	color: #3F2323;
	text-align: justify;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-left: 57px;
	margin-top: 29px;
	position: relative;
}

#u3215-3
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u3215-3  span /* line-height set on spans of mixed font sized paras */
{
	line-height: 1.2;
}

#u3215
{
	font-size: 16px;
	font-weight: bold;
}

#slideshowu4394
{
	z-index: 144;
	width: 0.01px;
	height: 716px;
	margin-left: 56px;
	margin-top: 29px;
	position: relative;
}

#u4396
{
	position: absolute;
	width: 682px;
	height: 468px;
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.75);
	top: 1px;
	left: 83px;
	-pie-background: rgba(255,255,255,0.75);
}

#u4396popup
{
	z-index: 145;
}

#u4569
{
	z-index: 146;
	width: 634px;
	height: 420px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.25);
	border-width: 2px;
	border-style: solid;
	border-color: #6C9128;
	background-color: transparent;
	border-radius: 10px;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u4569_img
{
	margin: -1px -4px -5px -2px;
}

#u4578
{
	z-index: 148;
	width: 634px;
	height: 420px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.25);
	border-width: 2px;
	border-style: solid;
	border-color: #6C9128;
	background-color: transparent;
	border-radius: 10px;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u4578_img
{
	padding-left: 104px;
	padding-right: 104px;
}

#u4587
{
	z-index: 150;
	width: 634px;
	height: 420px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.25);
	border-width: 2px;
	border-style: solid;
	border-color: #6C9128;
	background-color: transparent;
	border-radius: 10px;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u4587_img
{
	margin: -3px -1px -3px -5px;
}

#u4596
{
	z-index: 152;
	width: 634px;
	height: 420px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.25);
	border-width: 2px;
	border-style: solid;
	border-color: #6C9128;
	background-color: transparent;
	border-radius: 10px;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u4605
{
	z-index: 154;
	width: 634px;
	height: 420px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.25);
	border-width: 2px;
	border-style: solid;
	border-color: #6C9128;
	background-color: transparent;
	border-radius: 10px;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u4614
{
	z-index: 156;
	width: 634px;
	height: 420px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.25);
	border-width: 2px;
	border-style: solid;
	border-color: #6C9128;
	background-color: transparent;
	border-radius: 10px;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u4632
{
	z-index: 158;
	width: 634px;
	height: 420px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.25);
	border-width: 2px;
	border-style: solid;
	border-color: #6C9128;
	background-color: transparent;
	border-radius: 10px;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u4632_img
{
	margin: -4px -2px -2px -4px;
}

#u4641
{
	z-index: 160;
	width: 634px;
	height: 420px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.25);
	border-width: 2px;
	border-style: solid;
	border-color: #6C9128;
	background-color: transparent;
	border-radius: 10px;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u4641_img
{
	margin: -3px -4px -3px -2px;
}

#u4650
{
	z-index: 162;
	width: 634px;
	height: 420px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.25);
	border-width: 2px;
	border-style: solid;
	border-color: #6C9128;
	background-color: transparent;
	border-radius: 10px;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u4650_img
{
	margin: -1px -5px -5px -1px;
}

#u4659
{
	z-index: 164;
	width: 634px;
	height: 420px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.25);
	border-width: 2px;
	border-style: solid;
	border-color: #6C9128;
	background-color: transparent;
	border-radius: 10px;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u4668
{
	z-index: 166;
	width: 634px;
	height: 420px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.25);
	border-width: 2px;
	border-style: solid;
	border-color: #6C9128;
	background-color: transparent;
	border-radius: 10px;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u4605_img,#u4659_img,#u4668_img
{
	margin: -2px -4px -4px -2px;
}

#u4677
{
	z-index: 168;
	width: 634px;
	height: 420px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.25);
	border-width: 2px;
	border-style: solid;
	border-color: #6C9128;
	background-color: transparent;
	border-radius: 10px;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u4686
{
	z-index: 170;
	width: 634px;
	height: 420px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.25);
	border-width: 2px;
	border-style: solid;
	border-color: #6C9128;
	background-color: transparent;
	border-radius: 10px;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u4677_img,#u4686_img
{
	margin: -3px -2px -3px -4px;
}

#u4695
{
	z-index: 172;
	width: 634px;
	height: 420px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.25);
	border-width: 2px;
	border-style: solid;
	border-color: #6C9128;
	background-color: transparent;
	border-radius: 10px;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u4713
{
	z-index: 174;
	width: 634px;
	height: 420px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.25);
	border-width: 2px;
	border-style: solid;
	border-color: #6C9128;
	background-color: transparent;
	border-radius: 10px;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u4596_img,#u4614_img,#u4713_img
{
	margin: -3px;
}

#u4722
{
	z-index: 176;
	width: 634px;
	height: 420px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.25);
	border-width: 2px;
	border-style: solid;
	border-color: #6C9128;
	background-color: transparent;
	border-radius: 10px;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u4731
{
	z-index: 178;
	width: 634px;
	height: 420px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.25);
	border-width: 2px;
	border-style: solid;
	border-color: #6C9128;
	background-color: transparent;
	border-radius: 10px;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u4695_img,#u4722_img,#u4731_img
{
	margin: -2px -5px -4px -1px;
}

#u4740
{
	z-index: 180;
	width: 634px;
	height: 420px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.25);
	border-width: 2px;
	border-style: solid;
	border-color: #6C9128;
	background-color: transparent;
	border-radius: 10px;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u4569 .clip_frame,#u4578 .clip_frame,#u4587 .clip_frame,#u4596 .clip_frame,#u4605 .clip_frame,#u4614 .clip_frame,#u4632 .clip_frame,#u4641 .clip_frame,#u4650 .clip_frame,#u4659 .clip_frame,#u4668 .clip_frame,#u4677 .clip_frame,#u4686 .clip_frame,#u4695 .clip_frame,#u4713 .clip_frame,#u4722 .clip_frame,#u4731 .clip_frame,#u4740 .clip_frame
{
	-webkit-border-radius: 8px 8px 8px 8px;
}

#u4569_clip,#u4587_clip,#u4596_clip,#u4605_clip,#u4614_clip,#u4632_clip,#u4641_clip,#u4650_clip,#u4659_clip,#u4668_clip,#u4677_clip,#u4686_clip,#u4695_clip,#u4713_clip,#u4722_clip,#u4731_clip,#u4740_clip
{
	overflow: hidden;
	width: 634px;
	height: 420px;
}

#u4740_img
{
	margin-top: -1px;
	margin-right: -6px;
	margin-bottom: -5px;
}

#u4404
{
	position: absolute;
	width: 851px;
	background-color: transparent;
	padding-bottom: 57px;
}

#u4404popup
{
	z-index: 182;
}

#u4572
{
	z-index: 183;
	width: 200px;
	height: 80px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.3);
	border-color: #000000;
	background-color: transparent;
	border-radius: 3px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 45px;
}

#u4581
{
	z-index: 185;
	width: 200px;
	height: 80px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.3);
	border-color: #000000;
	background-color: transparent;
	border-radius: 3px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 325px;
}

#u4590
{
	z-index: 187;
	width: 200px;
	height: 80px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.3);
	border-color: #000000;
	background-color: transparent;
	border-radius: 3px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 605px;
}

#u4599
{
	z-index: 189;
	width: 200px;
	height: 80px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.3);
	border-color: #000000;
	background-color: transparent;
	border-radius: 3px;
	position: relative;
	margin-right: -10000px;
	margin-top: 119px;
	left: 45px;
}

#u4608
{
	z-index: 191;
	width: 200px;
	height: 80px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.3);
	border-color: #000000;
	background-color: transparent;
	border-radius: 3px;
	position: relative;
	margin-right: -10000px;
	margin-top: 119px;
	left: 325px;
}

#u4617
{
	z-index: 193;
	width: 200px;
	height: 80px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.3);
	border-color: #000000;
	background-color: transparent;
	border-radius: 3px;
	position: relative;
	margin-right: -10000px;
	margin-top: 119px;
	left: 605px;
}

#u4635
{
	z-index: 195;
	width: 200px;
	height: 80px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.3);
	border-color: #000000;
	background-color: transparent;
	border-radius: 3px;
	position: relative;
	margin-right: -10000px;
	margin-top: 234px;
	left: 45px;
}

#u4644
{
	z-index: 197;
	width: 200px;
	height: 80px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.3);
	border-color: #000000;
	background-color: transparent;
	border-radius: 3px;
	position: relative;
	margin-right: -10000px;
	margin-top: 234px;
	left: 325px;
}

#u4653
{
	z-index: 199;
	width: 200px;
	height: 80px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.3);
	border-color: #000000;
	background-color: transparent;
	border-radius: 3px;
	position: relative;
	margin-right: -10000px;
	margin-top: 234px;
	left: 605px;
}

#u4662
{
	z-index: 201;
	width: 200px;
	height: 80px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.3);
	border-color: #000000;
	background-color: transparent;
	border-radius: 3px;
	position: relative;
	margin-right: -10000px;
	margin-top: 349px;
	left: 45px;
}

#u4671
{
	z-index: 203;
	width: 200px;
	height: 80px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.3);
	border-color: #000000;
	background-color: transparent;
	border-radius: 3px;
	position: relative;
	margin-right: -10000px;
	margin-top: 349px;
	left: 325px;
}

#u4680
{
	z-index: 205;
	width: 200px;
	height: 80px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.3);
	border-color: #000000;
	background-color: transparent;
	border-radius: 3px;
	position: relative;
	margin-right: -10000px;
	margin-top: 349px;
	left: 605px;
}

#u4689
{
	z-index: 207;
	width: 200px;
	height: 80px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.3);
	border-color: #000000;
	background-color: transparent;
	border-radius: 3px;
	position: relative;
	margin-right: -10000px;
	margin-top: 464px;
	left: 45px;
}

#u4698
{
	z-index: 209;
	width: 200px;
	height: 80px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.3);
	border-color: #000000;
	background-color: transparent;
	border-radius: 3px;
	position: relative;
	margin-right: -10000px;
	margin-top: 464px;
	left: 325px;
}

#u4716
{
	z-index: 211;
	width: 200px;
	height: 80px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.3);
	border-color: #000000;
	background-color: transparent;
	border-radius: 3px;
	position: relative;
	margin-right: -10000px;
	margin-top: 464px;
	left: 605px;
}

#u4725
{
	z-index: 213;
	width: 200px;
	height: 80px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.3);
	border-color: #000000;
	background-color: transparent;
	border-radius: 3px;
	position: relative;
	margin-right: -10000px;
	margin-top: 579px;
	left: 45px;
}

#u4734
{
	z-index: 215;
	width: 200px;
	height: 80px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.3);
	border-color: #000000;
	background-color: transparent;
	border-radius: 3px;
	position: relative;
	margin-right: -10000px;
	margin-top: 579px;
	left: 325px;
}

#u4743
{
	z-index: 217;
	width: 200px;
	height: 80px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.3);
	border-color: #000000;
	background-color: transparent;
	border-radius: 3px;
	position: relative;
	margin-right: -10000px;
	margin-top: 579px;
	left: 605px;
}

#u4572 .clip_frame,#u4581 .clip_frame,#u4590 .clip_frame,#u4599 .clip_frame,#u4608 .clip_frame,#u4617 .clip_frame,#u4635 .clip_frame,#u4644 .clip_frame,#u4653 .clip_frame,#u4662 .clip_frame,#u4671 .clip_frame,#u4680 .clip_frame,#u4689 .clip_frame,#u4698 .clip_frame,#u4716 .clip_frame,#u4725 .clip_frame,#u4734 .clip_frame,#u4743 .clip_frame
{
	-webkit-border-radius: 3px 3px 3px 3px;
}

#u4437-4
{
	position: absolute;
	width: 40px;
	min-height: 48px;
	background-color: transparent;
	padding: 6px;
	color: #8CC63F;
	text-align: right;
	font-size: 40px;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
	top: 203px;
	left: 50px;
}

#u4437-4popup
{
	z-index: 219;
}

#u4403-4
{
	position: absolute;
	width: 40px;
	min-height: 48px;
	background-color: transparent;
	padding: 6px;
	color: #8CC63F;
	text-align: right;
	font-size: 40px;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
	top: 203px;
	left: 733px;
}

#u4403-4popup
{
	z-index: 223;
}

#u4435
{
	position: absolute;
	width: 30px;
	background-color: #8CC63F;
	border-radius: 10px;
	padding-bottom: 4px;
	top: -8px;
	left: 746px;
}

#u4436-4
{
	z-index: 228;
	width: 20px;
	min-height: 17px;
	background-color: transparent;
	padding-top: 4px;
	color: #FFFFFF;
	text-align: center;
	font-size: 14px;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 5px;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#pu3212-3
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: -8px;
}

#u3212-3
{
	z-index: 2;
	min-height: 133px;
}

#u3212-3-bw
{
	z-index: 2;
	min-height: 133px;
	margin-top: 57px;
}

#menuu3141
{
	z-index: 50;
	width: 716px;
	margin-right: -10000px;
	margin-top: 73px;
	left: 222px;
}

#u3156
{
	width: 50px;
	min-height: 35px;
	margin-right: -10000px;
}

#u3159
{
	width: 50px;
	padding-bottom: 18px;
}

#u3159:hover
{
	width: 50px;
	min-height: 0px;
	margin: 0px;
}

#u3159:active
{
	width: 50px;
	min-height: 0px;
	margin: 0px;
}

#u3159.MuseMenuActive
{
	width: 50px;
	min-height: 0px;
	margin: 0px;
}

#u3161-4
{
	width: 36px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 9px;
	left: 5px;
}

#u3159:hover #u3161-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 36px;
	margin: 0px -10000px 0px 0px;
}

#u3159:active #u3161-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 36px;
	margin: 0px -10000px 0px 0px;
}

#u3159.MuseMenuActive #u3161-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 36px;
	margin: 0px -10000px 0px 0px;
}

#u3142
{
	width: 112px;
	min-height: 35px;
	margin-right: -10000px;
	left: 50px;
}

#u3145
{
	width: 112px;
	padding-bottom: 18px;
}

#u3145:hover
{
	width: 112px;
	min-height: 0px;
	margin: 0px;
}

#u3145:active
{
	width: 112px;
	min-height: 0px;
	margin: 0px;
}

#u3145.MuseMenuActive
{
	width: 112px;
	min-height: 0px;
	margin: 0px;
}

#u3147-4
{
	width: 98px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 9px;
	left: 5px;
}

#u3145:hover #u3147-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 98px;
	margin: 0px -10000px 0px 0px;
}

#u3145:active #u3147-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 98px;
	margin: 0px -10000px 0px 0px;
}

#u3145.MuseMenuActive #u3147-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 98px;
	margin: 0px -10000px 0px 0px;
}

#u3149
{
	width: 87px;
	min-height: 35px;
	margin-right: -10000px;
	left: 162px;
}

#u3150
{
	width: 87px;
	padding-bottom: 18px;
}

#u3150:hover
{
	width: 87px;
	min-height: 0px;
	margin: 0px;
}

#u3150:active
{
	width: 87px;
	min-height: 0px;
	margin: 0px;
}

#u3150.MuseMenuActive
{
	width: 87px;
	min-height: 0px;
	margin: 0px;
}

#u3151-4
{
	width: 73px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 9px;
	left: 5px;
}

#u3150:hover #u3151-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 73px;
	margin: 0px -10000px 0px 0px;
}

#u3150:active #u3151-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 73px;
	margin: 0px -10000px 0px 0px;
}

#u3150.MuseMenuActive #u3151-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 73px;
	margin: 0px -10000px 0px 0px;
}

#u5162
{
	width: 141px;
	min-height: 35px;
	margin-right: -10000px;
	left: 249px;
}

#u5163
{
	width: 141px;
	padding-bottom: 18px;
}

#u5163:hover
{
	width: 141px;
	min-height: 0px;
	margin: 0px;
}

#u5163:active
{
	width: 141px;
	min-height: 0px;
	margin: 0px;
}

#u5163.MuseMenuActive
{
	width: 141px;
	min-height: 0px;
	margin: 0px;
}

#u5166-4
{
	width: 127px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 9px;
	left: 5px;
}

#u5163:hover #u5166-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 127px;
	margin: 0px -10000px 0px 0px;
}

#u5163:active #u5166-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 127px;
	margin: 0px -10000px 0px 0px;
}

#u5163.MuseMenuActive #u5166-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 127px;
	margin: 0px -10000px 0px 0px;
}

#u3163
{
	width: 105px;
	min-height: 35px;
	margin-right: -10000px;
	left: 390px;
}

#u3164
{
	width: 105px;
	padding-bottom: 18px;
}

#u321.MuseMenuActive,#u3164:hover
{
	width: 105px;
	min-height: 0px;
	margin: 0px;
}

#u3164:active
{
	width: 105px;
	min-height: 0px;
	margin: 0px;
}

#u3164.MuseMenuActive
{
	width: 105px;
	min-height: 0px;
	margin: 0px;
}

#u3165-4
{
	width: 91px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 9px;
	left: 5px;
}

#u3164:hover #u3165-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 91px;
	margin: 0px -10000px 0px 0px;
}

#u3164:active #u3165-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 91px;
	margin: 0px -10000px 0px 0px;
}

#u3164.MuseMenuActive #u3165-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 91px;
	margin: 0px -10000px 0px 0px;
}

#u3198
{
	width: 119px;
	min-height: 35px;
	margin-right: -10000px;
	left: 495px;
}

#u3201
{
	width: 119px;
	padding-bottom: 18px;
}

#u3201:hover
{
	width: 119px;
	min-height: 0px;
	margin: 0px;
}

#u3201:active
{
	width: 119px;
	min-height: 0px;
	margin: 0px;
}

#u3201.MuseMenuActive
{
	width: 119px;
	min-height: 0px;
	margin: 0px;
}

#u3202-4
{
	width: 105px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 9px;
	left: 5px;
}

#u3201:hover #u3202-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 105px;
	margin: 0px -10000px 0px 0px;
}

#u3201:active #u3202-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 105px;
	margin: 0px -10000px 0px 0px;
}

#u3201.MuseMenuActive #u3202-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 105px;
	margin: 0px -10000px 0px 0px;
}

#u3205
{
	width: 102px;
	min-height: 35px;
	margin-right: -10000px;
	left: 614px;
}

#u3206
{
	width: 102px;
	padding-bottom: 18px;
}

#u3206:hover
{
	width: 102px;
	min-height: 0px;
	margin: 0px;
}

#u3206:active
{
	width: 102px;
	min-height: 0px;
	margin: 0px;
}

#u3206.MuseMenuActive
{
	width: 102px;
	min-height: 0px;
	margin: 0px;
}

#u3209-4
{
	width: 88px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 9px;
	left: 5px;
}

#u3206:hover #u3209-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 88px;
	margin: 0px -10000px 0px 0px;
}

#u3206:active #u3209-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 88px;
	margin: 0px -10000px 0px 0px;
}

#u3206.MuseMenuActive #u3209-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 88px;
	margin: 0px -10000px 0px 0px;
}

#u3281-4
{
	z-index: 95;
	width: 288px;
	min-height: 17px;
	margin-right: -10000px;
	margin-top: 119px;
	left: 436px;
}

#u77,#u77-bw
{
	z-index: 133;
	height: 76px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 210px;
	padding-bottom: 181px;
}

