.version.products /* version checker */
{
	color: #000018;
	background-color: #0CB71A;
}

.html
{
	background: #EEEFEA url("../images/bg.gif") no-repeat center center fixed;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 7522.942563430368px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.189);
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FCFDFB;
	background-color: rgba(252,253,251,0.9);
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -210px;
	margin-bottom: -181px;
	width: 0.01px;
}

#uchuva
{
	margin-left: 41px;
	position: relative;
}

#pu5206
{
	width: 0.01px;
	margin-left: 15px;
	margin-top: 5px;
}

#u5206
{
	z-index: 136;
	width: 387px;
	margin-right: -10000px;
}

#u5389-4
{
	z-index: 138;
	width: 140px;
	min-height: 28px;
	margin-right: -10000px;
	margin-top: 66px;
	left: 560px;
}

#u5389-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 28px;
	width: 140px;
	margin: 66px -10000px 0px 0px;
}

#u4841
{
	z-index: 132;
	width: 40px;
	margin-right: -10000px;
	margin-top: 55px;
	left: 720px;
}

#u4846
{
	z-index: 134;
	width: 40px;
	margin-right: -10000px;
	margin-top: 55px;
	left: 780px;
}

#u4841:hover,#u4846:hover
{
	width: 40px;
	min-height: 0px;
	margin: 55px -10000px 0px 0px;
}

#pamphletu3578
{
	z-index: 97;
	width: 0.01px;
	height: 82px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 840px;
}

#u3579
{
	z-index: 98;
	width: 80px;
	margin-right: -10000px;
	margin-top: 2px;
	left: 2px;
}

#u3580
{
	width: 82px;
	top: -2px;
	left: -2px;
}

#u3580:hover
{
	width: 82px;
	min-height: 0px;
	margin: 0px;
}

#u3581
{
	z-index: 100;
	width: 80px;
	height: 80px;
	margin-right: -10000px;
	margin-top: 2px;
	left: 2px;
}

#u3580:hover #u3581
{
	width: 80px;
	height: 80px;
	min-height: 0px;
	margin: 2px -10000px 0px 0px;
}

#u3580.PamphletThumbSelected #u3581
{
	width: 80px;
	height: 80px;
	min-height: 0px;
	margin: 2px -10000px 0px 0px;
}

#u3586popup
{
	z-index: 101;
}

#u3586
{
	width: 577px;
	padding-bottom: 44px;
	top: 323px;
	left: -656px;
}

#u3587
{
	z-index: 102;
	width: 487px;
	height: 229px;
	margin-right: -10000px;
	top: 22px;
	left: 22px;
	padding: 26px 23px 36px;
}

#u3601-4
{
	z-index: 110;
	width: 434px;
	min-height: 57px;
	padding: 8px 6px 6px 46px;
}

#u3597-6
{
	z-index: 104;
	width: 441px;
	min-height: 31px;
	margin-left: 39px;
	top: -5px;
	margin-bottom: -5px;
}

#pu3595
{
	width: 0.01px;
	margin-left: 49px;
	margin-top: 4px;
}

#u3595
{
	z-index: 103;
	width: 56px;
	height: 55px;
	margin-right: -10000px;
	left: 277px;
}

.ie #u3595
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u3590-4
{
	z-index: 118;
	width: 87px;
	min-height: 28px;
	margin-right: -10000px;
	margin-top: 40px;
	left: 254px;
}

#u3790
{
	z-index: 122;
	width: 56px;
	margin-right: -10000px;
	margin-top: 22px;
}

#u3594-4
{
	z-index: 114;
	width: 74px;
	min-height: 28px;
	margin-right: -10000px;
	margin-top: 40px;
	left: 67px;
}

#u3788
{
	z-index: 124;
	width: 56px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 186px;
}

#u3790:hover,#u3788:hover
{
	width: 56px;
	min-height: 0px;
	margin: 22px -10000px 0px 0px;
}

#u3604
{
	width: 30px;
	padding-bottom: 5px;
	top: 350px;
	left: -134px;
}

#u3605-4
{
	z-index: 127;
	width: 20px;
	min-height: 16px;
	padding-top: 4px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 5px;
}

#pu403
{
	width: 0.01px;
	margin-left: -15px;
	margin-top: 27px;
}

#u403
{
	z-index: 5;
	width: 989px;
	margin-right: -10000px;
}

#menuu317
{
	z-index: 7;
	width: 957px;
	padding-bottom: 8px;
	margin-right: -10000px;
	margin-top: 1px;
	left: 15px;
}

#u325
{
	width: 93px;
	min-height: 27px;
	margin-right: -10000px;
	top: 4px;
	left: 4px;
}

#u328
{
	width: 93px;
	padding-bottom: 6px;
}

#u328:hover
{
	width: 93px;
	min-height: 0px;
	margin: 0px;
}

#u328:active
{
	width: 93px;
	min-height: 0px;
	margin: 0px;
}

#u328.MuseMenuActive
{
	width: 93px;
	min-height: 0px;
	margin: 0px;
}

#u330-4
{
	width: 44px;
	min-height: 17px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 3px;
	left: 22px;
}

#u328:hover #u330-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 44px;
	margin: 0px -10000px 0px 0px;
}

#u328:active #u330-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 44px;
	margin: 0px -10000px 0px 0px;
}

#u328.MuseMenuActive #u330-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 44px;
	margin: 0px -10000px 0px 0px;
}

#u353
{
	width: 99px;
	min-height: 27px;
	margin-right: -10000px;
	top: 4px;
	left: 110px;
}

#u354
{
	width: 99px;
	padding-bottom: 6px;
}

#u354:hover
{
	width: 99px;
	min-height: 0px;
	margin: 0px;
}

#u354:active
{
	width: 99px;
	min-height: 0px;
	margin: 0px;
}

#u354.MuseMenuActive
{
	width: 99px;
	min-height: 0px;
	margin: 0px;
}

#u356-4
{
	width: 50px;
	min-height: 17px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 3px;
	left: 22px;
}

#u354:hover #u356-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 50px;
	margin: 0px -10000px 0px 0px;
}

#u354:active #u356-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 50px;
	margin: 0px -10000px 0px 0px;
}

#u354.MuseMenuActive #u356-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 50px;
	margin: 0px -10000px 0px 0px;
}

#u318
{
	width: 130px;
	min-height: 27px;
	margin-right: -10000px;
	top: 4px;
	left: 222px;
}

#u321
{
	width: 130px;
	padding-bottom: 6px;
}

#u321:hover
{
	width: 130px;
	min-height: 0px;
	margin: 0px;
}

#u321:active
{
	width: 130px;
	min-height: 0px;
	margin: 0px;
}

#u321.MuseMenuActive
{
	width: 130px;
	min-height: 0px;
	margin: 0px;
}

#u324-4
{
	width: 82px;
	min-height: 17px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 3px;
	left: 22px;
}

#u321:hover #u324-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 82px;
	margin: 0px -10000px 0px 0px;
}

#u321:active #u324-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 82px;
	margin: 0px -10000px 0px 0px;
}

#u321.MuseMenuActive #u324-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 82px;
	margin: 0px -10000px 0px 0px;
}

#u5065
{
	width: 140px;
	min-height: 27px;
	margin-right: -10000px;
	top: 4px;
	left: 365px;
}

#u5066
{
	width: 140px;
	padding-bottom: 6px;
}

#u5066:hover
{
	width: 140px;
	min-height: 0px;
	margin: 0px;
}

#u5066:active
{
	width: 140px;
	min-height: 0px;
	margin: 0px;
}

#u5066.MuseMenuActive
{
	width: 140px;
	min-height: 0px;
	margin: 0px;
}

#u5068-4
{
	width: 92px;
	min-height: 17px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 3px;
	left: 22px;
}

#u5066:hover #u5068-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 92px;
	margin: 0px -10000px 0px 0px;
}

#u5066:active #u5068-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 92px;
	margin: 0px -10000px 0px 0px;
}

#u5066.MuseMenuActive #u5068-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 92px;
	margin: 0px -10000px 0px 0px;
}

#u332
{
	width: 125px;
	min-height: 27px;
	margin-right: -10000px;
	top: 4px;
	left: 518px;
}

#u333
{
	width: 125px;
	padding-bottom: 6px;
}

#u333:hover
{
	width: 125px;
	min-height: 0px;
	margin: 0px;
}

#u333:active
{
	width: 125px;
	min-height: 0px;
	margin: 0px;
}

#u333.MuseMenuActive
{
	width: 125px;
	min-height: 0px;
	margin: 0px;
}

#u335-4
{
	width: 77px;
	min-height: 17px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 3px;
	left: 22px;
}

#u333:hover #u335-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 77px;
	margin: 0px -10000px 0px 0px;
}

#u333:active #u335-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 77px;
	margin: 0px -10000px 0px 0px;
}

#u333.MuseMenuActive #u335-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 77px;
	margin: 0px -10000px 0px 0px;
}

#u390
{
	width: 167px;
	min-height: 27px;
	margin-right: -10000px;
	top: 4px;
	left: 656px;
}

#u393
{
	width: 167px;
	padding-bottom: 6px;
}

#u393:hover
{
	width: 167px;
	min-height: 0px;
	margin: 0px;
}

#u393:active
{
	width: 167px;
	min-height: 0px;
	margin: 0px;
}

#u393.MuseMenuActive
{
	width: 167px;
	min-height: 0px;
	margin: 0px;
}

#u396-4
{
	width: 119px;
	min-height: 17px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 3px;
	left: 22px;
}

#u393:hover #u396-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 119px;
	margin: 0px -10000px 0px 0px;
}

#u393:active #u396-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 119px;
	margin: 0px -10000px 0px 0px;
}

#u393.MuseMenuActive #u396-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 119px;
	margin: 0px -10000px 0px 0px;
}

#u380
{
	width: 117px;
	min-height: 27px;
	margin-right: -10000px;
	top: 4px;
	left: 836px;
}

#u383
{
	width: 117px;
	padding-bottom: 6px;
}

#u383:hover
{
	width: 117px;
	min-height: 0px;
	margin: 0px;
}

#u383:active
{
	width: 117px;
	min-height: 0px;
	margin: 0px;
}

#u383.MuseMenuActive
{
	width: 117px;
	min-height: 0px;
	margin: 0px;
}

#u386-4
{
	width: 69px;
	min-height: 17px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 3px;
	left: 22px;
}

#u383:hover #u386-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 69px;
	margin: 0px -10000px 0px 0px;
}

#u383:active #u386-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 69px;
	margin: 0px -10000px 0px 0px;
}

#u383.MuseMenuActive #u386-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 69px;
	margin: 0px -10000px 0px 0px;
}

#u4870
{
	z-index: 562;
	width: 246px;
	background-color: transparent;
	position: fixed;
	top: 235px;
	left: 50%;
	margin-left: -449px;
}

#u5268
{
	z-index: 586;
	width: 300px;
	background-color: transparent;
	margin-left: 320px;
	margin-top: 32px;
	position: relative;
}

#u2312-4
{
	z-index: 220;
	width: 194px;
	min-height: 22px;
	background-color: transparent;
	color: #F79025;
	font-size: 20px;
	font-weight: normal;
	position: fixed;
	top: 342px;
	left: 50%;
	margin-left: -439px;
}

#u2648-47
{
	z-index: 498;
	width: 305px;
	min-height: 677px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2648-8
{
	font-size: 15px;
	text-align: left;
	color: #E78723;
}

#u2648-10
{
	font-size: 15px;
	color: #E78723;
}

#u2648-21,#u2648-24
{
	font-size: 15px;
	text-align: left;
	color: #E68723;
}

#u2648,#u2648-9,#u2648-16,#u2648-30,#u2648-36
{
	font-size: 15px;
	color: #E78723;
	font-weight: bold;
}

#u2648-45
{
	font-size: 15px;
	text-align: left;
	color: #E78723;
	font-weight: bold;
}

#pu2795
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 8px;
	margin-left: 330px;
}

#u2795
{
	z-index: 551;
	width: 270px;
	background-color: transparent;
	position: relative;
}

#u4915
{
	z-index: 572;
	width: 277px;
	background-color: transparent;
	margin-top: 33px;
	position: relative;
}

#pu2298-4
{
	width: 0.01px;
	padding-bottom: 236px;
	margin-left: 41px;
	margin-top: -646px;
}

#u2298-4
{
	z-index: 192;
	width: 160px;
	min-height: 22px;
	background-color: transparent;
	color: #FBD605;
	font-size: 20px;
	position: fixed;
	top: 376px;
	left: 50%;
	margin-left: -439px;
}

#u2305-4
{
	z-index: 196;
	width: 126px;
	min-height: 22px;
	background-color: transparent;
	color: #70903C;
	font-size: 20px;
	position: fixed;
	top: 410px;
	left: 50%;
	margin-left: -439px;
}

#u2306-4
{
	z-index: 200;
	width: 137px;
	min-height: 22px;
	background-color: transparent;
	color: #EC8023;
	font-size: 20px;
	position: fixed;
	top: 446px;
	left: 50%;
	margin-left: -439px;
}

#u2308-4
{
	z-index: 204;
	width: 203px;
	min-height: 22px;
	background-color: transparent;
	color: #B82D33;
	font-size: 20px;
	position: fixed;
	top: 481px;
	left: 50%;
	margin-left: -439px;
}

#u2309-4
{
	z-index: 208;
	width: 137px;
	min-height: 22px;
	background-color: transparent;
	color: #ECC743;
	font-size: 20px;
	position: fixed;
	top: 516px;
	left: 50%;
	margin-left: -439px;
}

#u2310-4
{
	z-index: 212;
	width: 137px;
	min-height: 22px;
	background-color: transparent;
	color: #B9B041;
	font-size: 20px;
	position: fixed;
	top: 552px;
	left: 50%;
	margin-left: -439px;
}

#u2311-4
{
	z-index: 216;
	width: 194px;
	min-height: 22px;
	background-color: transparent;
	color: #9B1B26;
	font-size: 20px;
	position: fixed;
	top: 588px;
	left: 50%;
	margin-left: -439px;
}

#bananito
{
	margin-left: 57px;
	margin-top: 72px;
	position: relative;
}

#u4895
{
	z-index: 564;
	width: 300px;
	background-color: transparent;
	margin-left: 320px;
	margin-top: 55px;
	position: relative;
}

#pu2297-50
{
	width: 0.01px;
	margin-left: 327px;
	margin-top: 22px;
}

#u2297-50
{
	z-index: 142;
	width: 293px;
	min-height: 527px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
}

#u2297-2,#u2297-10,#u2297-18,#u2297-26,#u2297-33
{
	font-size: 15px;
	text-align: left;
	color: #F0CD05;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u2297-41
{
	font-size: 13px;
	text-align: left;
	color: #F0CD05;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u2297-48
{
	font-size: 15px;
	text-align: left;
	color: #F0CD05;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
}

#pu2325
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 321px;
}

#u2325
{
	z-index: 224;
	width: 270px;
	background-color: transparent;
	margin-left: 2px;
	position: relative;
}

#u4920
{
	z-index: 574;
	width: 277px;
	background-color: transparent;
	margin-top: 14px;
	position: relative;
}

#feijoa
{
	margin-left: 85px;
	margin-top: 147px;
	position: relative;
}

#ppu5340
{
	width: 0.01px;
	margin-left: 320px;
	margin-top: 48px;
}

#pu5340
{
	width: 0.01px;
	margin-right: -10000px;
}

#u5340
{
	z-index: 588;
	width: 300px;
	background-color: transparent;
	position: relative;
}

#u2452-51
{
	z-index: 226;
	width: 305px;
	min-height: 593px;
	background-color: transparent;
	margin-top: 34px;
	position: relative;
}

#u2452-8,#u2452-15,#u2452-26,#u2452-31,#u2452-39
{
	font-size: 15px;
	text-align: left;
	color: #698838;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u2452,#u2452-9,#u2452-16,#u2452-32,#u2452-40
{
	font-size: 15px;
	color: #698838;
	font-weight: bold;
}

#u2452-23,#u2452-49
{
	font-size: 15px;
	text-align: left;
	color: #698838;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
}

#pu5352
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 5px;
	margin-left: 317px;
}

#u5352
{
	z-index: 592;
	width: 270px;
	background-color: transparent;
	position: relative;
}

#u5352_img
{
	padding-bottom: 116px;
}

#u5346
{
	z-index: 590;
	width: 277px;
	background-color: transparent;
	margin-top: 123px;
	position: relative;
}

#u5346_img
{
	padding-bottom: 167px;
}

#granadilla
{
	margin-left: 85px;
	margin-top: 103px;
	position: relative;
}

#u2483
{
	z-index: 277;
	width: 300px;
	background-color: transparent;
	margin-left: 320px;
	margin-top: 115px;
	position: relative;
}

#pu2488-42
{
	width: 0.01px;
	margin-left: 320px;
	margin-top: 10px;
}

#u2488-42
{
	z-index: 279;
	width: 305px;
	min-height: 218px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
}

#u2488-17
{
	font-size: 15px;
	text-align: left;
	color: #DE781F;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u2488-25
{
	font-size: 13px;
	text-align: left;
	color: #DE781F;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u2297-39,#u2488-23
{
	font-size: 15px;
	font-weight: bold;
}

#u2488,#u2488-9,#u2488-31
{
	font-size: 15px;
	color: #DE781F;
	font-weight: bold;
}

#u2488-40
{
	font-size: 15px;
	text-align: left;
	color: #DE781F;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
}

#pu2489
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-left: 329px;
}

#u2489
{
	z-index: 321;
	width: 270px;
	background-color: transparent;
	margin-left: 1px;
	position: relative;
}

#u4935
{
	z-index: 576;
	width: 277px;
	background-color: transparent;
	margin-top: 32px;
	position: relative;
}

#gulupa
{
	margin-left: 85px;
	margin-top: 120px;
	position: relative;
}

#u4900
{
	z-index: 566;
	width: 300px;
	background-color: transparent;
	margin-left: 318px;
	margin-top: 61px;
	position: relative;
}

#pu2506-50
{
	width: 0.01px;
	margin-left: 320px;
	margin-top: 29px;
}

#u2506-50
{
	z-index: 323;
	width: 305px;
	min-height: 92px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2506-22,#u2506-25,#u2506-33
{
	font-size: 15px;
	text-align: left;
	color: #AE292F;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u2452-3,#u2452-10,#u2452-18,#u2452-34,#u2452-42,#u2488-3,#u2488-11,#u2488-33,#u2506-3,#u2506-11,#u2506-17,#u2506-41
{
	font-size: 13px;
	text-align: left;
	color: #2B2B2C;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u2506,#u2506-9,#u2506-15,#u2506-39
{
	font-size: 15px;
	color: #AE292F;
	font-weight: bold;
}

#u2506-48
{
	font-size: 15px;
	text-align: left;
	color: #AE292F;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
}

#pu2508
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 10px;
	margin-left: 327px;
}

#u2508
{
	z-index: 373;
	width: 270px;
	background-color: transparent;
	margin-left: 4px;
	position: relative;
}

#u4940
{
	z-index: 578;
	width: 277px;
	background-color: transparent;
	margin-top: 85px;
	position: relative;
}

#maracuya
{
	margin-left: 85px;
	margin-top: 131px;
	position: relative;
}

#u2518
{
	z-index: 375;
	width: 300px;
	background-color: transparent;
	margin-left: 320px;
	margin-top: 30px;
	position: relative;
}

#pu2648-47,#pu2524-47
{
	width: 0.01px;
	margin-left: 320px;
	margin-top: 30px;
}

#u2524-47
{
	z-index: 377;
	width: 305px;
	min-height: 52px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2524-10
{
	font-size: 15px;
	color: #E2BF40;
}

#u2648-3,#u2648-12,#u2648-18,#u2648-32,#u2648-38,#u2524-3,#u2524-12,#u2524-18,#u2524-31,#u2524-38
{
	font-size: 13px;
	text-align: left;
	color: #39393A;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u2524,#u2524-9,#u2524-16,#u2524-30,#u2524-37
{
	font-size: 15px;
	color: #E2BF40;
	font-weight: bold;
}

#u2648-5,#u2648-15,#u2648-26,#u2648-29,#u2648-35,#u2648-40,#u2648-43,#u2524-5,#u2524-8,#u2524-15,#u2524-21,#u2524-26,#u2524-33,#u2524-36,#u2524-40
{
	font-size: 13px;
	text-align: left;
	color: #39393A;
}

#u2524-24,#u2524-29,#u2524-43
{
	font-size: 15px;
	text-align: left;
	color: #E2BF40;
}

#u2524-45
{
	font-size: 15px;
	text-align: left;
	color: #E2BF40;
	font-weight: bold;
}

#pu2731
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 5px;
	margin-left: 327px;
}

#u2731
{
	z-index: 545;
	width: 270px;
	background-color: transparent;
	margin-left: 4px;
	position: relative;
}

#u4945
{
	z-index: 580;
	width: 277px;
	background-color: transparent;
	margin-top: 138px;
	position: relative;
}

#pitaya
{
	margin-left: 74px;
	margin-top: 142px;
	position: relative;
}

#ppu4905
{
	width: 0.01px;
	margin-left: 319px;
	margin-top: 60px;
}

#pu4905
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 115px;
}

#u4905
{
	z-index: 568;
	width: 300px;
	background-color: transparent;
	position: relative;
}

#u2528-27
{
	z-index: 424;
	width: 305px;
	min-height: 48px;
	background-color: transparent;
	margin-left: 1px;
	margin-top: 29px;
	position: relative;
}

#u2528-2
{
	font-size: 15px;
	text-align: left;
	color: #B9B041;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u2528-9,#u2528-16,#u2528-23
{
	font-size: 15px;
	text-align: left;
	color: #B1A83E;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u2297-4,#u2297-7,#u2297-12,#u2297-15,#u2297-20,#u2297-23,#u2297-28,#u2297-31,#u2297-35,#u2297-38,#u2297-43,#u2297-46,#u2452-5,#u2452-12,#u2452-20,#u2452-28,#u2452-36,#u2452-44,#u2452-47,#u2488-5,#u2488-8,#u2488-14,#u2488-19,#u2488-22,#u2488-27,#u2488-30,#u2488-35,#u2488-38,#u2506-5,#u2506-8,#u2506-14,#u2506-19,#u2506-27,#u2506-30,#u2506-35,#u2506-38,#u2506-43,#u2506-46,#u2528-4,#u2528-7,#u2528-11,#u2528-14,#u2528-18,#u2528-21,#u2528-25
{
	font-size: 13px;
	text-align: left;
	color: #2B2B2C;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#pu2768
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-left: 328px;
}

#u2768
{
	z-index: 547;
	width: 270px;
	background-color: transparent;
	margin-left: 4px;
	position: relative;
}

#u4950
{
	z-index: 582;
	width: 277px;
	background-color: transparent;
	top: -4px;
	margin-bottom: -4px;
	position: relative;
}

#tomatedearbol
{
	margin-left: 63px;
	margin-top: 204px;
	position: relative;
}

#u4910
{
	z-index: 570;
	width: 300px;
	background-color: transparent;
	margin-left: 318px;
	margin-top: 44px;
	position: relative;
}

#pu2541-47
{
	width: 0.01px;
	margin-left: 320px;
	margin-top: 6px;
}

#u2541-47
{
	z-index: 451;
	width: 305px;
	min-height: 612px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

#u2541-16
{
	font-size: 15px;
	color: #951924;
}

#u2541-24
{
	font-size: 15px;
	text-align: left;
	color: #951924;
}

#u2648-22,#u2297-8,#u2297-16,#u2297-24,#u2297-32,#u2452-24,#u2488-15,#u2506-23,#u2506-31,#u2524-22,#u2528,#u2528-8,#u2528-15,#u2528-22,#u2541-22
{
	font-weight: bold;
}

#u2541-3,#u2541-11,#u2541-18,#u2541-32,#u2541-38
{
	font-size: 13px;
	text-align: left;
	color: #2B2B2C;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u2648-3  span,#u2648-12  span,#u2648-18  span,#u2648-32  span,#u2648-38  span,#u2297-41  span,#u2452-3  span,#u2452-10  span,#u2452-18  span,#u2452-34  span,#u2452-42  span,#u2488-3  span,#u2488-11  span,#u2488-25  span,#u2488-33  span,#u2506-3  span,#u2506-11  span,#u2506-17  span,#u2506-41  span,#u2524-3  span,#u2524-12  span,#u2524-18  span,#u2524-31  span,#u2524-38  span,#u2541-3  span,#u2541-11  span,#u2541-18  span,#u2541-32  span,#u2541-38  span /* line-height set on spans of mixed font sized paras */
{
	line-height: 1.2;
}

#u2541,#u2541-9,#u2541-15,#u2541-30,#u2541-36
{
	font-size: 15px;
	color: #951924;
	font-weight: bold;
}

#u2648-7,#u2648-14,#u2648-20,#u2648-28,#u2648-34,#u2648-42,#u2297-6,#u2297-14,#u2297-22,#u2297-30,#u2297-37,#u2297-45,#u2452-7,#u2452-14,#u2452-22,#u2452-30,#u2452-38,#u2452-46,#u2488-7,#u2488-13,#u2488-21,#u2488-29,#u2488-37,#u2506-7,#u2506-13,#u2506-21,#u2506-29,#u2506-37,#u2506-45,#u2524-7,#u2524-14,#u2524-20,#u2524-28,#u2524-35,#u2524-42,#u2528-6,#u2528-13,#u2528-20,#u2541-7,#u2541-13,#u2541-20,#u2541-28,#u2541-34,#u2541-42
{
	font-size: 10px;
	text-align: center;
	color: #603813;
}

#u2541-5,#u2541-8,#u2541-14,#u2541-21,#u2541-26,#u2541-29,#u2541-35,#u2541-40,#u2541-43
{
	font-size: 13px;
	text-align: left;
	color: #2B2B2C;
}

#u2541-45
{
	font-size: 15px;
	text-align: left;
	color: #951924;
	font-weight: bold;
}

#pu2784
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 328px;
}

#u2784
{
	z-index: 549;
	width: 270px;
	background-color: transparent;
	margin-left: 2px;
	position: relative;
}

#u4955
{
	z-index: 584;
	width: 277px;
	background-color: transparent;
	margin-top: 26px;
	position: relative;
}

#final
{
	margin-left: 96px;
	margin-top: 49px;
	position: relative;
}

#pu3212-3
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 142px;
}

#u3212-3
{
	z-index: 2;
	min-height: 133px;
}

#u3212-3-bw
{
	z-index: 2;
	min-height: 133px;
	margin-top: 57px;
}

#menuu3141
{
	z-index: 50;
	width: 522px;
	margin-right: -10000px;
	margin-top: 74px;
	left: 319px;
}

#u3156
{
	width: 49px;
	min-height: 35px;
	margin-right: -10000px;
}

#u3159
{
	width: 49px;
	padding-bottom: 18px;
}

#u3159:hover
{
	width: 49px;
	min-height: 0px;
	margin: 0px;
}

#u3159:active
{
	width: 49px;
	min-height: 0px;
	margin: 0px;
}

#u3159.MuseMenuActive
{
	width: 49px;
	min-height: 0px;
	margin: 0px;
}

#u3161-4
{
	width: 35px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 9px;
	left: 5px;
}

#u3159:hover #u3161-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 35px;
	margin: 0px -10000px 0px 0px;
}

#u3159:active #u3161-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 35px;
	margin: 0px -10000px 0px 0px;
}

#u3159.MuseMenuActive #u3161-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 35px;
	margin: 0px -10000px 0px 0px;
}

#u3142
{
	width: 54px;
	min-height: 35px;
	margin-right: -10000px;
	left: 49px;
}

#u3145
{
	width: 54px;
	padding-bottom: 18px;
}

#u3145:hover
{
	width: 54px;
	min-height: 0px;
	margin: 0px;
}

#u3145:active
{
	width: 54px;
	min-height: 0px;
	margin: 0px;
}

#u3145.MuseMenuActive
{
	width: 54px;
	min-height: 0px;
	margin: 0px;
}

#u3147-4
{
	width: 40px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 9px;
	left: 5px;
}

#u3145:hover #u3147-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 40px;
	margin: 0px -10000px 0px 0px;
}

#u3145:active #u3147-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 40px;
	margin: 0px -10000px 0px 0px;
}

#u3145.MuseMenuActive #u3147-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 40px;
	margin: 0px -10000px 0px 0px;
}

#u3149
{
	width: 79px;
	min-height: 35px;
	margin-right: -10000px;
	left: 103px;
}

#u3150
{
	width: 79px;
	padding-bottom: 18px;
}

#u3150:hover
{
	width: 79px;
	min-height: 0px;
	margin: 0px;
}

#u3150:active
{
	width: 79px;
	min-height: 0px;
	margin: 0px;
}

#u3150.MuseMenuActive
{
	width: 79px;
	min-height: 0px;
	margin: 0px;
}

#u3151-4
{
	width: 65px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 9px;
	left: 5px;
}

#u3150:hover #u3151-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 65px;
	margin: 0px -10000px 0px 0px;
}

#u3150:active #u3151-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 65px;
	margin: 0px -10000px 0px 0px;
}

#u3150.MuseMenuActive #u3151-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 65px;
	margin: 0px -10000px 0px 0px;
}

#u5072
{
	width: 87px;
	min-height: 35px;
	margin-right: -10000px;
	left: 182px;
}

#u5073
{
	width: 87px;
	padding-bottom: 18px;
}

#u5073:hover
{
	width: 87px;
	min-height: 0px;
	margin: 0px;
}

#u5073:active
{
	width: 87px;
	min-height: 0px;
	margin: 0px;
}

#u5073.MuseMenuActive
{
	width: 87px;
	min-height: 0px;
	margin: 0px;
}

#u5076-4
{
	width: 73px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 9px;
	left: 5px;
}

#u5073:hover #u5076-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 73px;
	margin: 0px -10000px 0px 0px;
}

#u5073:active #u5076-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 73px;
	margin: 0px -10000px 0px 0px;
}

#u5073.MuseMenuActive #u5076-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 73px;
	margin: 0px -10000px 0px 0px;
}

#u3163
{
	width: 75px;
	min-height: 35px;
	margin-right: -10000px;
	left: 269px;
}

#u3164
{
	width: 75px;
	padding-bottom: 18px;
}

#u3164:hover
{
	width: 75px;
	min-height: 0px;
	margin: 0px;
}

#u3164:active
{
	width: 75px;
	min-height: 0px;
	margin: 0px;
}

#u3164.MuseMenuActive
{
	width: 75px;
	min-height: 0px;
	margin: 0px;
}

#u3165-4
{
	width: 61px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 9px;
	left: 5px;
}

#u3164:hover #u3165-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 61px;
	margin: 0px -10000px 0px 0px;
}

#u3164:active #u3165-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 61px;
	margin: 0px -10000px 0px 0px;
}

#u3164.MuseMenuActive #u3165-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 61px;
	margin: 0px -10000px 0px 0px;
}

#u3198
{
	width: 109px;
	min-height: 35px;
	margin-right: -10000px;
	left: 344px;
}

#u3201
{
	width: 109px;
	padding-bottom: 18px;
}

#u3201:hover
{
	width: 109px;
	min-height: 0px;
	margin: 0px;
}

#u3201:active
{
	width: 109px;
	min-height: 0px;
	margin: 0px;
}

#u3201.MuseMenuActive
{
	width: 109px;
	min-height: 0px;
	margin: 0px;
}

#u3202-4
{
	width: 95px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 9px;
	left: 5px;
}

#u3201:hover #u3202-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 95px;
	margin: 0px -10000px 0px 0px;
}

#u3201:active #u3202-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 95px;
	margin: 0px -10000px 0px 0px;
}

#u3201.MuseMenuActive #u3202-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 95px;
	margin: 0px -10000px 0px 0px;
}

#u3205
{
	width: 69px;
	min-height: 35px;
	margin-right: -10000px;
	left: 453px;
}

#u3206
{
	width: 69px;
	padding-bottom: 18px;
}

#u3206:hover
{
	width: 69px;
	min-height: 0px;
	margin: 0px;
}

#u3206:active
{
	width: 69px;
	min-height: 0px;
	margin: 0px;
}

#u3206.MuseMenuActive
{
	width: 69px;
	min-height: 0px;
	margin: 0px;
}

#u3209-4
{
	width: 55px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 9px;
	left: 5px;
}

#u3206:hover #u3209-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 55px;
	margin: 0px -10000px 0px 0px;
}

#u3206:active #u3209-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 55px;
	margin: 0px -10000px 0px 0px;
}

#u3206.MuseMenuActive #u3209-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 55px;
	margin: 0px -10000px 0px 0px;
}

#u3281-4
{
	z-index: 93;
	width: 288px;
	min-height: 17px;
	margin-right: -10000px;
	margin-top: 120px;
	left: 436px;
}

#u77,#u77-bw
{
	z-index: 131;
	height: 76px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 210px;
	padding-bottom: 181px;
}

