.App {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: relative;
  user-select: none;
  background-color: #DAE0AA;
}
a{
  text-decoration: none !important;
  color: inherit ;
  transition: all 0.1s ease-in-out !important;
}
.arrowSlider:hover{
  transform: scale(1.2);
}
*:focus {
  outline: none !important;
}
.btn-lang {
  position: fixed;
  top: 80px;
  right: 80px;
  z-index: 999;
  font-weight: bold;
  font-size: 35px;
}
footer {
  height: auto;
  width: 100%;
  background-color: #343828;
  color: rgb(149, 255, 145);
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  flex-direction: column;
  font-weight:200;
  .contFooter{
    display: flex;

    padding-top: 20px;
    
    .contF{
      width: calc(100% / 3);
      display: flex;
      flex-direction: column;
      
      padding-bottom: 20px;
      ul{
        display: flex;
        flex-direction: column;
        position: relative;
        .pagesMenu:hover{
          color:black;
        }
        .pagesMenu{
          display: flex;
          justify-content: left;
          
          width: auto;
          position: relative;
          
        }
        .active{
          color: white !important;
          opacity: 1;
        }
        a.active::after {
          content: "";
          position: absolute;
          bottom: 0px; /* Espaciado de la línea con el texto */
          color: white;
          width: 30%;
          height: 3px;
          background-color: white;
           /* Centrar la línea */
          transition: width 0.3s ease-in-out;
        }
        
      }
      
      a:hover{
        color:black;
      }
      
    }
    
  }
  
  .contFooter2{
    display: flex;
    padding-bottom: 20px;
    justify-content: space-between;
    span{
      .lcode{
        color: white !important;
      }
    }
  }
}
/*Navbar*/
.lA {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 212px;
  filter: drop-shadow(0 0 5px #ffffff);
  transition: all 0.3s ease-in-out;
  img {
    width: 100%;
  }
}
.lA:hover {
  transform: scale(1.1);
  right: 10px;
}
.bntMenu {
  position: fixed;
  top: 114.5px;
  right: 0px;
  border: none;
  font-weight: bold;
  font-size: 20px;
  height: 45px;
  width: 95px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border-radius: 45px 0px 0px 45px;
  background-color: #83a841;
  color: #f0efd9;
  transition: all 0.3s ease-in-out;
  i {
    font-size: 25px;
  }
}
.bntMenu:hover {
  width: 132.4px;
}
.btnMr {
  right: -100px;
}
.lAr {
  /*right: -150px;*/
  opacity: 0;
}
.mainM{
  background-color: rgba(0, 0, 0, 0.1);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 999;
  color: white;
  padding: 10px 50px;
  font-size: 24px;
  .logoA{
    width: 100px;
    .logo{
      width: 100%;
      filter: drop-shadow(0 0 1px black);
    }
  }
  .respLink{
    display: none;
  }
  .bx{
    display: none;
  }
  .navbar{
    ul{
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
      color: white;
      font-size: 20px;
      .pagesMenu{
        position: relative;
        text-decoration: none;
        color: white;
        padding: 3px 0;
        transition: all 1s ease-in-out;
        filter: drop-shadow(0 1px 2px black);
      }
      .pagesMenu.active::after {
        content: "";
        position: absolute;
        bottom: 0px; /* Espaciado de la línea con el texto */
        left: 50%;
        width: 80%;
        height: 2px;
        background-color: white;
        transform: translateX(-50%); /* Centrar la línea */
        transition: width 0.3s ease-in-out;
      }
    }
    .lang {
      width: 72px;
      height: 44px;
      border-radius: 26px;
      border: 2px solid white;
      display: flex;
      position: relative;
      justify-content: space-between;
      padding: 0 4px;
      align-items: center;
      overflow: hidden;
      background-color: rgb(212, 248, 189);
      overflow: hidden;
      cursor: pointer;
      .circle {
        box-shadow: 0 0 15px black;
        height: 33px;
        aspect-ratio: 1;
        border-radius: 50%;
        background-color: white;
        color: #658E1C;
        font-weight: bolder;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 4px; /* Posición inicial */
        transition: transform 0.3s ease-in-out; /* Transición suave */
      }
      span{
        position: absolute;
        font-weight: bold;
        color: rgb(80, 79, 79);
        right: 4px;
        transition: transform 0.3s ease-in-out;
      }
    }
    .es .circle {
      transform: translateX(28px); /* Se desplaza hacia la derecha */
    }
    
    .es span{
      transform: translateX(-34px);
    }
  }

}
.responsive {
  right: 0;
  backdrop-filter: blur(10px);
}
/*home*/
.home {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  .homeHeader {
    background-image: url(/img/2.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    div {
      padding: 250px;
      position: absolute;
      z-index: 2;
      text-align:left;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: start;
      font-weight:bolder;
      color: white;
      text-align: left;
      
      .hw{
        font-size: 48px;
        padding: 0;
        margin: 0;
      }
      .ht {
        
        font-size: 78px;
        padding: 0;
        margin: 0;
      }
      .hh {
        font-size: 24px;
        padding: 0;
        margin: 0;
      }
      button {
        width: 304.9px;
        height: 101.5px;
        border-radius: 50px;
        border: none;
        background-color: #2e3c1d;

        font-weight: bold;
        font-size: 35px;
        transition: all 0.3s ease-in-out;
        .btnLink {
          text-decoration: none;
          color: #b9d075;
        }
      }
      button:hover {
        background-color: #587239;
        .btnLink {
          color: #d5e998;
        }
      }
    }
    .filter {
      position: absolute;
      top: 0;
      z-index: 0;
      width: 100%;
      height: 100%;
      background-color: rgb(0, 0, 0);
      opacity: 0.5;
    }
  }
  .homeContact{
    display: flex;
    width: 100%;
    height: 232px;
    position: relative;
    justify-content:center;
    .bar{
      width: 80%;
      height: 232px;
      background-color: white;
      position: absolute;
      z-index: 998;
      top: -50%;
      margin: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0px;
      border-radius: 20px 20px 116px 116px;
      font-size: 20px;
      box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
      .barItem{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        width: calc(100% / 3.2);
        .icon{
          width: 40px;
          height: 40px;
        }
        .barItemText{
          display: flex;
          flex-direction: column;
          .subT{
            font-weight: bolder;
          }
        }
        .linkContact{
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer ;
          width: 220px;
          height: 52px;
          font-size: 20px;
          font-weight: bold;
          background-color: #83a841;
          color: white;
          border: none;
          border-radius: 10px;
        }
        
      }
      .left{
        justify-content: right;
      }
      .Right{
        justify-content: left;
      }
      
    }
  }
  .homeProduct {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-bottom: 50px;
    .arrowSlider {
      position: absolute;
      z-index: 997;
      top: 50%;
      width: 50px;
      height: 50px;
      cursor: pointer;
      background-color: #658E1C;
      color: white;
      font-size: 24px;
      border: none;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
    }
    
    .aleft {
      left: 10px;
    }
    
    .aright {
      right: 10px;
    }
    .hpTitle {
      height: 20vh;
      width: 80%;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      span {
        font-size: 36px;
        font-weight: bold;
        color: #658E1C;
      }
    }
    .hpProduct::-webkit-scrollbar {
      width: 100%;
      height: 10px;
    }
    .hpProduct::-webkit-scrollbar-track {
      width: 10px !important;
      height: 10px;
      margin: 150px;
      background-color: #58723948;
      border-radius: 10px;
    }
    
    .hpProduct::-webkit-scrollbar-thumb {
      height: 10px;
      border-radius: 10px;
      background-color: #83a841;
      transition: all 2s ease-in-out;
      cursor: pointer;
    }
    .hpProduct {
      font-weight: bold;
      width: 100%;
      height: 80vh;
      display: flex;
      justify-content: center;
      flex-wrap: nowrap;
      padding-left:50px;
      padding-right: 50px;
      overflow: scroll;
      scroll-snap-type: x mandatory;
      overflow-x: auto;
      overflow-y: hidden;
      justify-content: start;
      margin: 0;
      scroll-behavior: smooth;
      .hpProductItem {
        padding-left: 20px;
        
        display: flex;
        text-align: center;
        flex-direction: column;
        justify-content: center;
        min-width: calc((100vw - 120px) / 3);
        height: 100%;
        position: sticky;
        object-fit: cover;
        scroll-snap-align: center;
        transition: all 0.4s ease-in-out;
        opacity: 1;
        gap: 0;
        margin: 0;
        scroll-behavior: smooth;
        img {
          width: 70%;
          transition: all 0.2s ease-in-out;
          transform: scale(0.7);
          margin: 0;
        }
        h3 {
          margin: 0;
          width: 70%;
          font-size: 26px;
          font-weight: bold;
          height: auto;
          opacity: 0.6;
          color: #658E1C;
          transition: all 0.6s ease-in-out;
          background-color: transparent;
          border-radius: 10px;
        }
        p {
          margin: 0;
          width: 70%;
          text-align:start;
          font-size: 18px;
          height: 0;
          font-weight:500;
          visibility: hidden;
          opacity: 0;
          transition: all 0.6s ease-in-out;
          color: #83A841;
        }
        button {
          margin: 0;
          font-weight: bold;
          font-size: 23px;
          width: 70%;
          display: flex;
          align-items: center;
          justify-content: left;
          color: #83a841;
          background-color: transparent;
          border: none;
          padding: 0;
          opacity: 0;
          transition: all 0.3s ease-in-out;
          
          .linkP {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 149px;
            height: 56px;
            text-decoration: none;
            color: white;
            border-radius: 10px;
            background-color: #658E1C;
            font-size: 20px;
            font-weight: 500;
          }
        }
      }

      .hpProductItem:hover {
        opacity: 1;
        padding-bottom: 40px;
        height: auto;
        text-align: left;
        img {
          transform: scale(0.8);
        }
        h3 {
          height: auto;
          visibility: visible;
          opacity: 1;
        }
        p{
          visibility: visible;
          opacity: 1;
          height: auto;
        }
        button {
          opacity: 1;
        }
        
      }
    }
  }
  .shortPage{
    width: 100%;
    height: 100vh;
    display: flex;
    padding: 60px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: white;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    color: #83A841;
    .spcont{
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      .shortPageItem{
        width: calc((100% - 80px) / 4);
        overflow: hidden;
        aspect-ratio: 0.93;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
        transition: all 0.2s ease-in-out;
        img{
          position: absolute;
          z-index: 995;
          width: 100%;
          left: 0;
        }
        .filter{
          width: 100%;
          height: 100%;
          position: absolute;
          z-index: 996;
          background-color: rgba(0, 0, 0, 0.4);
        }
        .contenido{
          position: absolute;
          z-index: 997;
          color: white;
          text-align: center;
          width: 80%;
          height: 90%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: end;
          font-size: 15px;
          gap: 5px;
          filter: drop-shadow(0 0 1px black);
          button{
            border: none;
            background-color: #83A841;
            width: 60%;
            border-radius: 5px;
            transition: all 0.3s ease-in-out;
            a{
              text-decoration: none;
              color: white;
            }
          }
          button:hover{
            background-color: #58722a;
          }
        }
      }
      .shortPageItem:hover{
        transform: scale(1.05);
      }
    }
  }
}
/*about Us*/
.arrowSlider {
  position: absolute;
  z-index: 997;
  top: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
  background-color: #648e1c85;
  color: white;
  font-size: 24px;
  border: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: all 0.3s ease-in-out;
}
.aleft {
  left: 10px;
}
.aright {
  right: 10px;
}
.aboutCont{
  position: relative;
}
.aboutUs { 
  width: 100%;
  height: auto;
  display: flex;
  overflow: scroll;
  scroll-snap-type: x mandatory;
      overflow-x: hidden;
      overflow-y: hidden;
      justify-content: start;
      margin: 0;
      scroll-behavior: smooth;
  .aboutUsSec {
    min-width: 100%;
    height: 100vh;
    position: sticky;
    object-fit: cover;
    display: flex;
    scroll-behavior: smooth;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 30px;
    position: relative;
    overflow: hidden;
    object-fit: cover;
      scroll-snap-align: center;
    .filter{
      position: absolute;
      background-color: rgba(0, 44, 4, 0.1);
      width: 100%;
      height: 100%;
    }
    img {
      position: absolute;
      width: 100%;
    }
    .content {
      width: 50%;
      height: auto;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: rgba(255, 255, 255, 0.2);
      backdrop-filter: blur(2px);
      border-radius: 5px;
      padding: 10px;
      h3 {
        width: 80%;
        font-size: 40px;
        font-weight: bolder;
        color: #658E1C;
        filter: drop-shadow(0 0 1px #000000);
      }
      p {
        width: 80%;
        font-size: 25px;
        font-weight: bold;
        color: black;
        
      }
    }
  }
  .content {
    opacity: 0;
    transform: translateX(100%); /* Comienza desde la derecha */
    transition: transform 0.8s ease-in-out, opacity 0.5s ease-in-out;
  }
  
  .aboutUsSec .animate-in {
    opacity: 1;
    transform: translateX(0); /* Se mueve hacia el centro */
  }
  
  .aboutUsSec .animate-out {
    opacity: 0;
    transform: translateX(-100%); /* Se mueve hacia la izquierda */
  }
  
  .Inpar {
    align-items: start;
    .content{
      text-align: start;
      margin-left: 20px;
      
    }
  }
  .Par {
    align-items: end;
    .content{
      text-align: end;
    margin-right: 20px;
    }
  }
}
/*Productos*/
.filterBack{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  
  background-color: rgba(0, 0, 0, 0.05);
}
.productos {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  .pHeader {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url("/img/productsHeader.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    .infoC {
      width: 80%;
      height:65%;
      padding: 10px;
      border-radius: 10px;
      background-color: rgba(255, 255, 255, 0.3);
      backdrop-filter: blur(2px);
      color: black;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      gap: 30px;
      h2,
      h3 {
        width: 80%;
        font-weight: bold;
        filter: drop-shadow(0 0 1px white);
      }
      h2 {
        font-size: 45px;
        color: #2e3c1d;
      }
      h3 {
        font-size: 30px;
      }
    }
  }
  .pProducts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
    padding-bottom: 10vh;
    span {
      font-size: 50px;
      font-weight: bold;
      color: black;
      margin-top: 20px;
    }
    .list {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 30px;
      width: 90%;
      .hpProductItem {
        padding-bottom: 25px;
        position: relative;
        display: flex;
        gap: 0px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 350px;
        min-width: 350px;
        height: 470px;
        transition: all 0.3s ease-in-out;
        overflow: hidden;
        background-color: #82a84117;
        border-radius: 15px;
        text-align: center;
        interpolate-size:allow-keywords;
        box-shadow: 0 0 5px #2e3c1d52;
        img {
          max-width: 90%;
          transition: all 0.2s ease-in-out;
        }
        h3 {
          width: 70%;
          font-size: 27px;
          font-weight: bold;
          color: #2e3c1d;
          transition: all 0.5s ease-in-out;
          
        }
        p {
          width: 70%;
          text-align:start;
          font-size: 18px;
          bottom: 10px;
          visibility: hidden;
          opacity: 0;
          height: 0;
          transition: opacity 0.6s ease-in-out;
          color: #5c6e2e;
          position: absolute;
        }
        button {
          margin: 0;
          font-weight: bold;
          font-size: 23px;
          width: 70%;
          display: flex;
          align-items: center;
          justify-content: left;
          color: #83a841;
          background-color: transparent !important;
          border: none;
          padding: 0;
          opacity: 0;
          transition: all 0.3s ease-in-out;
          
          .linkP {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 149px;
            height: 56px;
            text-decoration: none;
            color: white;
            border-radius: 10px;
            background-color: #658E1C;
            font-size: 20px;
            font-weight: 500;
          }
        }
      }
      .hpProductItem:hover {
        height: auto;
        opacity: 1;
        transform: scale(1.05);
        box-shadow: 0 0 15px #2e3c1d;
        img {
          transform: scale(0.8);
          filter: drop-shadow(0 0 5px black);
        }
        /*p {
          position: relative;
          visibility: visible;
          opacity: 1;
        }*/
        p{
          visibility: visible;
          opacity: 1;
          height: auto;
          position: relative;
        }
        button {
          opacity: 1;
        }
        button:hover {
          background-color: #587239;
        }
      }
    }
  }
}
/*ficha tecnica*/
.fichaTecnica {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 60px;

  background-color:#bed98f;
  text-align: center;
  flex-direction: column;
  
  .rute {
    width: 100%;
    display: flex;
    cursor: pointer;
    font-size: 20px;
    
    height: 80px;
    padding-left: 30px;
    align-items: end;
    .linkP {
      text-decoration: none;
      color: black;
      font-weight: bold;
    }
  }
  .content {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    width: 85%;
    .info {
      width: 25%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: left;
      gap: 10px;
      font-size: 20px;
      font-weight: bold;
    }
    .img {
      width: 30%;
      aspect-ratio: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      img {
        width: 100%;
        position: absolute;
        transition: all 0.1s ease-in-out;
      }
      img:hover {
        transform: scale(1.05);
        filter: drop-shadow(0 0 20px black);
      }
    }
    
  }
  .description {
    width: 80%;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-weight: bold;
  }
  .fichaTecnicaPrueba{
    width: 100%;
    height: auto;
    .one, .tree{
      .second{
        background-image: linear-gradient(to right, #82a841d7, #00000017)!important;
      }
    }
    .cero, .two{
      .second{
        background-image: linear-gradient(to left, #82a841d7, #00000017)!important;
      }
    }

    .sectionInfo{
      position: relative;
      display: flex;
      width: 100%;
      height: 100vh;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      
      .first, .second{
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 120px;
        padding-bottom: 120px;
        font-size: 22px;
        text-align: left;
        img{
          width: 70%;
        }
        h1{
          font-size: 36px;
          color: #83A841;
          font-weight: bolder;
        }
        h2{
          font-size: 36px;
          color: #516729;
          font-weight: bold;
        }
        .tabla{
          background-color: white;
          width: 100%;
          display: flex;
          flex-direction: column;
          padding: 10px;
          .separator{
            height: 6px ;
            width: 100% ;
            background-color: black;
          }
          h2{
            color: black;
          }
          .table{
          
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0;
            table{
              width: 100%;
              font-size: 20px;
              font-weight: bold;
              border-collapse: collapse;
              thead{
                border: none;
                .aright{
                  text-align: right;
                  }
              }
              tbody{
                tr{
                  .aright{
                  text-align: right;
                  }
                }
              }
              tr{
                color: black;
                
              }
              th,td{
  
                padding: 10px;
                
              }
              
              
            }
          }
        }
      }
      .imgbg{
        width: 100%;
        height: 100%;
        z-index: 0;
        object-fit: cover;
        position: absolute;
      }
      .second{
        
        backdrop-filter: blur(6px);
        color: white;
        font-weight:400;
        text-align: left;
        align-items: start;
        gap: 8px;
        span{
          font-weight: bold;
        }
      }
    }
  }
}
/*certificaciones*/
.certificaciones {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: black;
  transition: all 0.3s ease-in-out;
  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100% !important;
    padding-left: 30px;
    padding-right: 30px;
    .img {
      background-image: url(/img/certifications.jpg);
      background-size: cover;
      background-position: center;
      width: 100%;
      height: 100vh;
      position: absolute;
      filter: blur(5px);
    }

    h1 {
      
      font-size: 45px;
      filter: drop-shadow(0 0 1px black);
      z-index: 2;
    }
    p {
      color: white;
      font-size: 30px;
      font-weight: bold;
      filter: drop-shadow(0 0 1px rgb(0, 0, 0));
      
      
    }
  }
  .secCert{
    display: flex;
    flex-wrap: wrap;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .cCard {
    width: 49.8%;
    display: flex;

    .certCard {
      width: 100%;
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      text-align: center;
      gap: 10px;
      padding-left: 40px;
      padding-right: 40px;
      .tit{
        font-size: 35px;
        color: black;
        font-weight:500;
        i{
          color: white;
        font-size: 25px;
        }
      }
      img {
        width: 50%;
        cursor: pointer;
        filter: drop-shadow(0 0 1px rgba(0, 0, 0));
      }
      .cimage {
        text-decoration: none;
        color: rgb(0, 0, 0);
        font-size: 25px;
        transition: all 0.3s ease-in-out;
      }
      .cimage:hover {
        transform: scale(1.5);
      }
    }
  }
  .rev {
    flex-direction: row-reverse;
  }
}
.contactenos {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #2e3c1d;
  position: relative;
  overflow: hidden;
  .imgcont {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
    background-image: url(/img/3.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .contenedorInfo {
    position: absolute;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    min-width: 350px;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .headerCont {
      width: 100%;
      height: 15%;
      
      padding-left: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: start;
      color: white;
      filter: drop-shadow(0 0 2px black);
      background-color: rgba(255, 255, 255, 0.1);
      backdrop-filter: blur(5px);
      border-radius: 15px 15px 0 0 ;
      gap: 0;
      h1{
        margin: 0;
        font-size: 30px;
      }
      h2{
        margin: 0;
        font-size: 20px;
      }
    }
    .contForm {
      width: 100%;
      height: 73%;
      background-color: #587239;
      display: flex;
      border-radius: 0 0 15px 15px;
      form {
        width: 60%;
        height: 100%;
        background-color: #83a841;
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
        justify-content: center;
        padding-top: 20px;
        padding-bottom: 90px;
        position: relative;
        input::placeholder {
          color: white;
          font-weight: 100;
        }
        textarea::placeholder {
          color: white;
          font-weight: 100;
        }
        .firstName,
        .lastName,
        .phone,
        .email {
          width: 40%;
          height: 50px;
          background-color: transparent;
          border: none;
          border-bottom: 1px solid white;
          border-radius: 5px;
          color: white;
          font-weight: bold;
        }
        .company {
          width: 80%;
          height: 50px;
          background-color: transparent;
          border: none;
          border-bottom: 1px solid white;
          border-radius: 5px;
          color: white;
          font-weight: bold;
        }
        .mensaje {
          width: 80%;
          min-height: 100px;
          padding-left: 15px;
          background-color: transparent;
          border: none;
          border-bottom: 1px solid white;
          border-radius: 5px;
          color: white;
        }
        .btnForm {
          width: 120px;
          height: 50px;
          border-radius: 25px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 20px;
          border: none;
          position: absolute;
          bottom: 20px;
          right: 10%;
          transition: all 0.3s ease-in-out;
          font-weight: bold;
          background-color: #587239;
          color: white;
          i {
            rotate: 0deg;
            transition: all 0.1s ease-in-out;
          }
        }
        .btnForm:hover {
          background-color: white;
          color: black;
          i {
            rotate: -45deg;
          }
        }
      }
      .infoContact {
        width: 40%;
        height: 100%;
        display: flex;
        gap: 5px;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        padding-right: 30px;
        padding-left: 30px;
        color: white;
        font-size: 15px;
        .title {
          font-size: 20px;
          font-weight: bold;
          display: flex;
          width: 100%;
          justify-content: center;
          color: #b6bc98;
          padding-bottom: 20px;
        }
        .mapouter {
          width: 100%;
          .gmap_canvas {
            width: 100%;
            iframe {
              width: 100%;
              min-height: 200px;
              max-height: 250px;
            }
          }
        }
      }
    }
  }
}
.pqrs {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #2e3c1d;
  position: relative;
  overflow: hidden;
  .imgcont {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
    background-image: url(/img/3.jpg);
    filter: blur(5px);
  }
  .contenedorInfo {
    position: absolute;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    min-width: 350px;
    height: 80%;
    display: flex;
    flex-direction: column;
    .headerCont {
      width: 100%;
      height: 25%;
      padding-top: 20px;
      padding-left: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: start;
      color: white;
      filter: drop-shadow(0 0 2px black);
      background-color: #2e3c1d1c;
    }
    .contForm {
      width: 100%;
      height: 75%;
      background-color: #587239;
      display: flex;
      form {
        width: 60%;
        height: 100%;
        background-color: #83a841;
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
        justify-content: center;
        padding-top: 20px;
        padding-bottom: 90px;
        position: relative;
        input::placeholder {
          color: white;
          font-weight: 100;
        }
        textarea::placeholder {
          color: white;
          font-weight: 100;
        }
        
        .email {
          width: 80%;
          height: 50px;
          background-color: rgba(0, 0, 0, 0.2);
          border: none;
          border-bottom: 1px solid white;
          border-radius: 5px;
          color: white;
          font-weight: bold;
        }
        
        .mensaje {
          width: 80%;
          min-height: 100px;
          background-color: rgba(0, 0, 0, 0.2);
          border: none;
          border-bottom: 1px solid white;
          border-radius: 5px;
          color: white;
        }
        .btnForm {
          width: 120px;
          height: 50px;
          border-radius: 25px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 20px;
          border: none;
          position: absolute;
          bottom: 20px;
          right: 10%;
          transition: all 0.3s ease-in-out;
          font-weight: bold;
          background-color: #587239;
          color: white;
          i {
            rotate: 0deg;
            transition: all 0.1s ease-in-out;
          }
        }
        .btnForm:hover {
          background-color: white;
          color: black;
          i {
            rotate: -45deg;
          }
        }
      }
      .infoContact {
        width: 40%;
        height: 100%;
        display: flex;
        gap: 5px;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        padding-right: 30px;
        padding-left: 30px;
        color: white;
        font-size: 15px;
        .title {
          font-size: 20px;
          font-weight: bold;
          display: flex;
          width: 100%;
          justify-content: center;
          color: #b6bc98;
          padding-bottom: 20px;
        }
        .mapouter {
          width: 100%;
          .gmap_canvas {
            width: 100%;
            iframe {
              width: 100%;
              min-height: 200px;
              max-height: 250px;
            }
          }
        }
      }
    }
  }
}
.dataTreatment{
  background-color:#c2bd82;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-top: 120px;
  padding-bottom: 120px;
  padding-left: 50px;
  padding-right: 50px;
  color: black;
  h1{
    img{
      width: 150px; margin-right: 80px;
    }
  }
}
.articles{
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #c2bd82;
  
}
.articleCard{
  overflow: hidden;
  width: 350px;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  border-radius: 20px;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
  filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.534));
  .cardImage{
    height: 100%;
    transition: all 0.6s ease-in-out;
  }
  .cardTitle{
    position: absolute;
    bottom: 0;
    z-index: 999;
    height:auto;
    padding: 2px;
    background-color:#587239;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
  }
}
.articleCard:hover{
  transform: scale(1.05);
  filter: drop-shadow(0 0 5px rgba(0, 0, 0));
  .cardImage{
    transform: scale(1.1);
  }
}
.articleInfo{
  width: 100%;
  padding: 20px;
  .contain{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    .image{
      width: 100%;
      height: 70vh;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      .img{
        width: 100%;
      }
    }
  }
}
.eticcode{
  display: flex;
  flex-direction: column;
  margin:20px;
  padding: 20px;
  background-color: #82a841c7;
  border-radius: 20px;
  filter: drop-shadow(0 0 5px rgb(0, 0, 0));
  font-weight: bold;
  h1, h2{
    display: flex;
    width: 100%;
    justify-content: center;
  }
  h2{
    font-size: 35px;
    margin-bottom: 10px;
  }
  p{
    font-size: 20px;
  }
}
.cortina {
  position: fixed; 
  top: 0;
  right: -10px;
  width: 250vw; 
  height: 150vh; 
  background-color:#5c6e2e; 
  z-index: 999;
  transform: translateX(0);
  transition: transform 2s ease-in-out;
}
.cortina.animate {
  transform: translateX(140vh) rotate(-90deg) translateY(100vw);
}
.loading{
  position: fixed;
  z-index: 999;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  backdrop-filter: blur(5px);
  .elements{
    display: flex;
    position: relative;
    width: 600px;
   aspect-ratio: 1;
    .fondospn{
      position: absolute;
      left: 150px;
      top: 150px;
      width: 300px;
      height: 300px;
      z-index: 1;
      background-color: #2125295b;
      border-radius: 50%;
      animation: scaleFondospn 1.5s infinite;
      filter: drop-shadow(0 0 20px #212529);
    }
    .fondospn1{
      position: absolute;
      left: 225px;
      top: 225px;
      width: 150px;
      height: 150px;
      z-index: 2;
      background-color: #8e959c;
      border-radius: 50%;
      animation: scaleFondospn1 1.5s infinite;
      filter: drop-shadow(0 0 5px #8e959c);
    }
    .logospn{
      position: absolute;
      width: 300px;
      top: 190px;
      left: 150px;
      z-index: 3;
      /*filter: drop-shadow(0 0 2px rgba(0, 0, 0));*/
      animation: scalelogospn 4s infinite;
    }
  }
  
/* Animación para fondospn */

}
@keyframes scaleFondospn {
  0%{
    opacity: 0;
  }
  20%{
    opacity: 1;
  }
  0%, 100% {
      transform: scale(1); /* Escala inicial y final */
  }
  
  50% {
      transform: scale(0.5); /* Escala al 50% */
  }
  80%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}

/* Animación para fondospn1 */
@keyframes scaleFondospn1 {
  0%{
    opacity: 0;
  }
  20%{
    opacity: 1;
  }
  0%, 100% {
      transform: scale(1); /* Escala inicial y final */
  }
  50% {
      transform: scale(2); /* Escala al 50% */
  }
  80%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}
@keyframes scalelogospn{
  
  0%, 100% {
    transform: scale(1); /* Escala inicial y final */
  }
  50% {
      transform: scale(1.1); /* Escala al 50% */
  }

}
@keyframes slide {
  0% {
    left: 0%;
    opacity: 0;
  }
  4.44% {
    left: 0%;
    opacity: 1;
  }
  24.4% {
    left: 0%;
    opacity: 1;
  }
  28.8% {
    left: 0%;
    opacity: 0;
  }
  33.2% {
    left: -100%;
    opacity: 0;
  }
  37.6% {
    left: -100%;
    opacity: 1;
  }
  57.6% {
    left: -100%;
    opacity: 1;
  }
  62% {
    left: -100%;
    opacity: 0;
  }
  66.4% {
    left: -200%;
    opacity: 0;
  }
  70.8% {
    left: -200%;
    opacity: 1;
  }
  90.8% {
    left: -200%;
    opacity: 1;
  }
  95.2% {
    left: -200%;
    opacity: 0;
  }
  100% {
    left: 0%;
    opacity: 0;
  }
}
.err404{
  width: 100%;
  min-height: 100vh;
  background-color: #bed98f;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  gap: 10px;
  .content{
    .titulo{
      font-size: 60px;
      font-weight: bold;
    }
    .msj1, .msj2{
      font-size: 30px;
    }
  }
  .btn{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background-color:#83a841;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
    position: relative;
    overflow: hidden;
    img{
      height: 110px;
      animation: scalelogospn 2s infinite;
      
    }
    .spbtn{
      width: 0;
      opacity: 0;
      
      transition: all 0.4s ease-in-out;
      
      overflow: hidden;
    }
  }
  .btn:hover{
    background-color:#a4ac67;
    transform: scale(1.05);
    border-radius: 30px;
    width: 350px;
    .spbtn{
      width: 100px;
      opacity: 1;
      font-weight: bold;
      
    }
  }
}
/*scrollindicador*/
.scroll-indicator {
  position: fixed;
  width: 300px;
  z-index: 999;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
  color: #658E1C;
  gap: 10px;
  background: rgba(0, 0, 0, 0.5);
  padding: 8px 16px;
  border-radius: 20px;
  animation: fade-out 0.5s ease-in-out 4.5s forwards;
}

.dot {
  width: 20px;
  aspect-ratio: 1;
  background-color: #83A841;
  border-radius: 50%;
  animation: move-dot 2.5s infinite alternate ease-in-out;
}

@keyframes move-dot {
  from {
    transform: translateX(-120px);
  }
  to {
    transform: translateX(120px);
  }
}

@keyframes fade-out {
  to {
    opacity: 0;
    visibility: hidden;
  }
}


@media screen and (max-width: 980px) {
  .App{
    width: 100%;
    overflow: hidden;
  }
  .mainM{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: white;
    color: black;
    .respLink{
      display: flex;
      text-decoration: none;
      color: white;
      filter: drop-shadow(0 0 1px black);
      color: black;
    }
    .navbar{
      display: none;
    }
    .bx{
      display: flex;
    }
    .responNav{
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 100%;
      background-color: white;
      width: calc(100% - 20px);
      ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        .pagesMenu{
          color: black;
        }
      }
    }
  }
  .btnMr {
    right: -150px;
  }
  .bntMenu {
    top: 90%;
    bottom: 10px;
    width: 50px;
    span {
      display: none;
      width: 0;
    }
  }
  .icon {
    top: 0 !important;
    
    
    color: #2e3c1d !important;
    opacity: 1;
    transition: all 0.5s ease-in-out;
  }

  
  .responsive {
    
    position: fixed;
    top: 0 !important;
  }
  .home {
    width: 100%;
    .homeHeader {
      
      div {
        padding: 8px;
        justify-content: center;
        align-items: center;
        text-align: center;
        .hw{
          font-size: 25px;
          
        }
        .ht{
          font-size: 50px;
        }
      }
    }
    .homeContact{
      .bar{
        border-radius: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
        justify-content: center;
        align-items: center;
        height: auto;
        flex-direction: column;
        gap: 20px;
        .barItem{
          justify-content: left;
          width: 80%;
          font-size: 15px;
        }
        .Center{
          justify-content: center;
        }
      }
    }
    .homeProduct {
      min-height: 125vh;
      .hpTitle {
        width: 90%;
        height: 20%;
        span {
          font-size: 30px;
        }
        overflow: hidden;
      }
      .arrowSlider {
        visibility: hidden;
      }
      .hpProduct {
        position: relative;
        width: 100%;
        height: 80%;
        gap: 0px;
        padding-right: 30px;
        padding-left: 30px;
        .hpProductItem {
          position: relative;
          min-width: 100%;
          height: 100%;
          position: sticky;
          object-fit: cover;
          scroll-snap-align: center;
          h3 {
            opacity: 1;
            bottom: 20px;
          }
          img {
            width: 100%;
          }
        }
        
      }

      .hpProduct::-webkit-scrollbar {
        width: 100%;
      }
      .hpProduct::-webkit-scrollbar-track {
        height: 10px !important;
        margin: 170px;
        background-color: #58723948;
        border-radius: 10px;
      }
      .hpProduct::-webkit-scrollbar-thumb {
        height: 10px;
        border-radius: 10px;
        background-color: #83a841;
      }
    }
    .shortPage {
      min-height: 100vh;
      height: auto;
      .spcont{
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        .shortPageItem{
          width: 350px;
        }
      }
    }
  }
  .aboutCont{
    width: 100%;
    .arrowSlider{
      display: none;
    }
  }
  .aboutUs {
    width: 100%;
    position: relative;
    overflow: scroll;
      scroll-snap-type: x mandatory;
    .aboutUsSec {
      position: relative;
      position: sticky;
      object-fit: cover;
      scroll-snap-align: center;
      align-items: center;
      min-width: 100%;
      .content {
        font-size: px;
        width: 80%;
        align-items: center;
        h3 {
          filter: drop-shadow(0 0 1px black);
        }
        p {
          font-size: 18px;
        }
      }
    }
    .content {
      transform: none !important; /* Desactiva cualquier transformación */
      opacity: 1 !important; /* Asegura que siempre sea visible */
      transition: none !important; /* Desactiva cualquier animación */
    }
    .aboutUsSec::-webkit-scrollbar {
      width: 100%;
    }
    .aboutUsSec::-webkit-scrollbar-track {
      height: 10px !important;
      margin: 170px;
      background-color: #58723948;
      border-radius: 10px;
    }
    .aboutUsSec::-webkit-scrollbar-thumb {
      height: 10px;
      border-radius: 10px;
      background-color: #83a841;
    }
    .Par,
    .Inpar {
      align-items: center;
      text-align: center;
      text-align: center;
      
      .content{
        background-color: rgba(255, 255, 255, 0.637);
        padding: 5px;
        text-align: center;
      }
    }
    .Inpar {
      .content {
        p {
          filter: drop-shadow(0 0 0.5px white);
        }
      }
    }
  }
  .productos {
    .pHeader {
      .infoC {
        h2 {
          font-size: 23px;
        }
        h3 {
          font-size: 18px;
        }
      }
    }
    .pProducts {
      .list {
        .hpProductItem {
          text-align: center;
        }
      }
    }
  }
  .fichaTecnica {
    width: 100%;
    overflow: hidden;
    padding-left: 0;
    padding-right: 0;
    .content {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 95%;
      gap: 40px;
      .info,
      .table {
        width: 100%;
        text-align: center;
      }
      .img {
        width: 60%;
      }
    }
    .description {
      width: 95%;
    }
    .carrousel-example {
      max-width: 400px;
      width: 98%;
      min-width: 300px;
      overflow: hidden;
      .imgC {
        width: 300%;
        div {
          max-width: 400px;
          min-width: 300px;
          img {
            max-width: 100%;
            object-fit: contain;
            max-height: 100%;
          }
        }
      }
    }
    .fichaTecnicaPrueba{
      .sectionInfo{
        flex-direction: column;
        height: auto;
        .first, .second{
          width: 100%;
          
        }
        .second{
          border-top: 1px solid white;
        }
        .vis{
          min-height: 100vh !important;
          height: auto;
          padding-left: 5% !important;
          padding-right: 5% !important;
          padding-top: 120px !important;
          padding-bottom: 120px !important;
        }
        .first{
          height: 0px;
          padding: 0;
        }
      }
    }
  }
  .certificaciones {
    .header {
      h1 {
        font-size: 40px;
      }
      p {
        font-size: 25px;
      }
    }
    .cCard {
      flex-direction: column;
      width: 100%;
      
      .certCard {
        overflow: hidden;
        img {
          filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.8));
        }
      }
    }
  }
  .contactenos, .pqrs {
    padding-top: 100px;
    .imgcont {
      height: 100%;
    }
    height: auto;
    position: relative;
    .contenedorInfo {
      padding-left: 5%;
      padding-right: 5%;
      flex-direction: column;
      height: auto;
      position: relative;
      padding-bottom: 30px;
      .contForm {
        flex-direction: column;

        form {
          width: 100%;
        }
        .infoContact {
          width: 100%;
        }
      }
    }
  }
  footer {
    .contFooter{
      flex-direction: column;
      width: 100%;
      .contF{
        width: 100%;
        ul{
          padding: 0;
        }
      }
    }
    .contFooter2{
      flex-direction: column;
    }
    .fc {
      .firstf {
        flex-direction: column;
        justify-content: center;
        gap: 5px;
      }
      .fd {
        flex-direction: column;
        font-size: 20px;
      }
    }
  }
  .loading{
    width: 100%;
    height: 100vh;
    .elements{
      width: 100%;
      aspect-ratio: 1;
      .fondospn{
        left: 25%;
        top: 25%;
        width: 50%;
        height: 50%;
      }
      .fondospn1{
        left: 37.5%;
        top: 37.5%;
        width: 25%;
        height: 25%;
      }
      .logospn{
        width: 50%;
        top: 31.6%;
        left: 25%;
      }
    }
    
  /* Animación para fondospn */
  
  }
  .articleInfo{
    .contain{
      .image{
        width: 100%;
        height: auto;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        .img{
          width: 100%;
        }
      }
    }
  }
}
@media print {
  .mainM {
    .bntMenu {
      display: none;
    }
  }
  .fichaTecnica {
    .carrousel-example {
      display: none;
    }
  }
  footer {
    display: none;
  }
  .navbar{
    display: none;
  }
}
.lcode {
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-weight: bolder;
  transition: all 0.3s ease-in-out;
}
.lcode:hover {
  color: blue;
}
a {
  cursor: pointer;
  text-decoration: none;
}
.alerta{
    position: fixed;
    width: 350px;
    height: 170px;
    background-color:#cc7c44;
    border-radius: 20px;
    bottom: 20px;
    right: 15px;
    padding: 30px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: all 0.8s ease-in-out;
    img{
        height: 50px;
    }
}
.hdd{
    right: -800px;
}
