.App{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}
*:focus{
    outline:none!important
}
.btn-lang{
    position: fixed;
    top: 80px;
    right: 80px;
    z-index: 999;
    font-weight: bold;
    font-size: 35px;
}
footer{
    height: auto;
    width: 100%;
    background-color: #5c6e2e;
    .fc{
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        margin-left: 40px;
        margin-right: 40px;
        justify-content: center;
        font-weight: bold;
        margin-bottom: 20px;
    }
    .firstf{
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
    .fd{
        display: flex;
        flex-direction: column;
        gap: 2px;
        margin-bottom: 20px;
        font-size: 20px;
        font-weight: 500;
    }
    .ff{
        display: flex;
        justify-content: space-between;
    }
    .titlef{
        font-size: 30px;
        font-weight: 600;
        color: white;
        max-width: 100%;
    }
    
    
}

/*Navbar*/
.lA{
    position: fixed;
    top: 20px;
    right: 0;
    width: 122.4px;
    height: 84.5px;
    transition: all 0.3s ease-in-out;
    img{
        width: 100%;
    }
}
.lA:hover{
    transform: scale(1.1);
    right: 10px;
}
.bntMenu{
    position: fixed;
    top: 114.5px;
    right: 0px;
    border: none;font-weight: bold;
    font-size: 20px;
    height: 45px;
    width: 95px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border-radius: 45px 0px 0px 45px ;
    background-color: #83A841;
    color:#F0EFD9;
    transition: all 0.3s ease-in-out;
    i{
        font-size: 25px;
    }
}
.bntMenu:hover{
    width: 120px;
}

.btnMr{
    right: -100px;
}
.lAr{
    
    /*right: -150px;*/
    opacity: 0;
}
.mainM{
    
    width: 764.8px;
    height: 100vh;
    position: fixed;
    z-index: 999;
    top: 0;
    right: -200%;
    background-color: #2E3C1D;
    transition: all 0.3s ease-in-out;
    .logoA{
        position: relative;
        height: 84.5px;
        width: 122.5px;
        top: 30px;
        left: 30px;
        filter: drop-shadow(0 0 5px #C2BD82);
        img{
            width: 122.4px;
            height: 84.5px;
        }
    }
    .icon{
        position: fixed;
        font-size: 70px;
        font-weight: bold;
        color: white;
        top: 30px;
        right: 30px;
        text-decoration: none;
        cursor: pointer;
    }
    .language{
        position: relative;
        left: 200px;
        top: -25px;
        width: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        font-size: 30px;
        font-weight: bold;
        cursor: pointer;
        .fa-globe{
            color: white;
        }
        .idioma{
            color: white;
        }
    }
    .navbar{
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        ul{
            display: flex;
            justify-content: space-around;
            flex-direction: column;
            position: absolute;
            top: 50px;
            left: 170px;
            height: 65%;
            font-size: 30px;
            font-weight: bold;
            .pagesMenu{
                text-decoration: none;
                color:#B6BC98 ;
            }
        }
    }
}
.responsive{
    
    right: 0;
}


/*home*/
.home{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    .homeHeader{
        width: 100%;
        height: 100vh;
        background-color: #2E3C1D;
        position:relative;
        display: flex;
        justify-content: center;
        align-items: center;
        div{
            position: absolute;
            z-index: 2;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 15px;
            h1{
                font-weight:600;
                font-size: 93px;
                color: #83A841;
                text-shadow: 0 0 20px black;
            }
            span{
                
                font-weight: bold;
                color: #F0EFD9;
                font-size: 50px;
            }
            button{
                width: 304.9px;
                height: 101.5px;
                border-radius: 50px;
                border: none;
                background-color: #2E3C1D;
                
                font-weight: bold;
                font-size: 35px;
                transition: all 0.3s ease-in-out;
                .btnLink{
                    text-decoration: none;
                    color: #B9D075;
                }
            }
            button:hover{
                background-color: #587239;
                .btnLink{
                    color: #d5e998;
                }
            }
        }
        .filter{
            position: absolute;
            top: 0;
            z-index: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.35);
            background-image: url(/public//img/2.jpg);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            opacity: 0.47;
        }
    }
    .homeProduct{
        width: 100%;
        min-height: 100vh;
        background-color: #2E3C1D;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        .arrowSlider{
            position: absolute;
            top: 50%;
            width: 60px;
            cursor: pointer;
            filter: drop-shadow(0 0 2px );
        }
        .aleft{
            left: 20px;
            rotate: 180deg;
        }
        .aright{
            right: 20px;
        }
        .hpTitle{
            height: 20%;
            width: 80%;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            span{
                font-size: 35px;
                font-weight: bold;
                color: #83A841;
            }
        }
        .hpProduct::-webkit-scrollbar {
            width: 400px; 
            height: 10px;
        }
        .hpProduct::-webkit-scrollbar-track {
            width: 200px;
            height: 10px;
            margin: 550px;
            background-color: #58723948;
            border-radius: 10px;
        }
          .hpProduct::-webkit-scrollbar-thumb {
            height: 10px;
            border-radius: 10px;
            background-color:#83A841;
        }
        .hpProduct{
            font-weight: bold;
            width: 100%;
            height: 75%;
            display: flex;
            overflow:auto;
            position: relative;
            overflow-x: auto;
            padding-left: 50px;
            padding-right: 50px;
            .hpProductItem{
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                max-width: 350px;
                min-width: 350px;
                height: 75vh;
                transition: all 0.4s ease-in-out;
                overflow: hidden;
                opacity: 0.6;
                img{
                    max-width: 90%;
                    transition: all 0.2s ease-in-out;
                }
                h3{
                    font-size: 35px;
                    font-weight: bold;
                    color: white;
                    transition: all 0.5s ease-in-out;
                }
                p{
                    width: 90%;
                    text-align: center;
                    font-size: 25px;
                    position: absolute;
                    bottom: 10px;
                    visibility: hidden;
                    opacity: 0;
                    transition: opacity 0.6s ease-in-out;
                    color: #C2BD82;
                }
                button{
                    font-weight: bold;
                    font-size: 23px;
                    width: 162.6px;
                    height: 54.1px;
                    color: #83A841;
                    background-color: #2E3C1D;
                    border: none;
                    border-radius: 35px;
                    position: absolute;
                    opacity: 0;
                    transition: all 0.3s ease-in-out;
                    .linkP{
                        text-decoration: none;
                        color: #83A841;
                    }
                }
            }
            
            .hpProductItem:hover{
                opacity: 1;
                
                img{
                    transform: scale(1.05);
                }
                p{
                    position: relative;
                    visibility: visible;
                    opacity: 1;
                }
                button{
                    opacity: 1;
                    
                }
                button:hover{
                    background-color: #587239;
                }
            }
        }
    }
    .shortPage{
        width: 100%;
        height: 100vh;
        display: flex;
        overflow: hidden;
        gap: 0;
        .shortPageItem{
            width: calc(100%/3);
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            overflow: hidden;
            transition: all 0.3s ease-in-out;
            position: relative;
            
            .filter{
                position: absolute;
                width: calc(100%*3);
                background-color: black;
                opacity: 0.5;
                height: 100vh;
                z-index: 0;
            }
            img{
                height: 110%;
                object-fit:fill;
                position: absolute;
            }
            h3{
                position: absolute;
                width: 85%;
                font-weight: bold;
                color:#F0EFD9;
                filter: drop-shadow(0 0 5px black);
                bottom: 50px;
                transition: all 0.3s ease-in-out;
            }
            button{
                position: absolute;
                bottom: -30px;
                font-size: 20px;
                height: 40px;
                border: none;
                background-color: #2E3C1D;
                color: #F0EFD9;
                font-weight: bold;
                border-radius: 20px;
                width: 120px;
                opacity: 0;
                transition: all 0.4s ease-in-out;
                filter: drop-shadow(0 0 10px #587239);
                .linkBtn{
                    text-decoration: none;
                    color: #F0EFD9;
                }
            }
        }
        .shortPageItem:hover{
            transform: scale(1.1);
            img{
                z-index: 1;
            }
            h3{
                bottom: 90px;
                width: 85%;
                z-index: 1;
            }
            button{
                z-index: 1;
                bottom: 50px;
                opacity: 1;
                
            }
            button:hover{
                background-color: #587239;
                filter: drop-shadow(0 0 10px #2E3C1D);
                
            }
        }
    }
}
/*about Us*/
.aboutUs{
    width: 100%;
    height: auto;
    background-color: #2E3C1D;
    .aboutUsSec{
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        gap: 30px;
        position: relative;
        overflow: hidden;
        img{
            position: absolute;
            
            width: 100%;
        }
        .content{
            width: 50%;
            height: 100%;
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color:rgba(0, 0, 0, 0.2);
            backdrop-filter: blur(5px);
            h3{
                font-size: 40px;
                font-weight: bolder;
                color: black;
                filter: drop-shadow(0 0 15px #cc7c44);
            }
            p{
                width: 80%;
                font-size: 30px;
                font-weight: bold;
                color: white;
                filter: drop-shadow(0 0 2px black);
            }
        }
    }
    .Inpar{
        align-items: start;
    }
    .Par{
        align-items: end;
    }
}
/*Productos*/
.productos{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    .pHeader{
        width: 100%;
        height: 80vh;
        background-image: url(/img/manos.jpg);
        background-size: cover;
        background-position: center;
        .infoC{
            width: 100%;
            height: 100%;
            background-color: rgba(255, 255, 255, 0.1);
            backdrop-filter: blur(1px);
            color: black;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            gap: 30px;
            h2, h3{
                width: 80%;
                font-weight: bold;
                filter: drop-shadow(0 0 20px white);
            }
            h2{
                font-size: 55px;
                color: #2E3C1D;
                
            }
            h3{
                font-size: 35px;
            }
        }
    }
    .pProducts{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        background-color:#d5e998;
        padding-bottom: 10vh;
        span{
            font-size: 50px;
            font-weight: bold;
            color: black;
            margin-top: 20px;
        }
        .list{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            gap: 10px;
            width: 90%;
            .hpProductItem{
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                max-width: 350px;
                min-width: 350px;
                height: 450px;
                transition: all 0.3s ease-in-out;
                overflow: hidden;
                opacity: 0.6;
                border-radius: 30px;
                img{
                    max-width: 90%;
                    transition: all 0.2s ease-in-out;
                }
                h3{
                    font-size: 35px;
                    font-weight: bold;
                    color:#2E3C1D;
                    transition: all 0.5s ease-in-out;
                }
                p{
                    width: 90%;
                    text-align: center;
                    font-size: 25px;
                    position: absolute;
                    bottom: 10px;
                    visibility: hidden;
                    opacity: 0;
                    transition: opacity 0.6s ease-in-out;
                    color:#5c6e2e;
                }
                button{
                    font-weight: bold;
                    font-size: 23px;
                    width: 162.6px;
                    height: 54.1px;
                    color: #83A841;
                    background-color: #2E3C1D;
                    border: none;
                    border-radius: 35px;
                    position: absolute;
                    opacity: 0;
                    transition: all 0.3s ease-in-out;
                    .linkP{
                        text-decoration: none;
                        color: #83A841;
                    }
                }
            }
            .hpProductItem:hover{
                opacity: 1;
                transform: scale(1.05);
                box-shadow: 0 0 50px #2E3C1D;
                img{
                    transform: scale(1.02);
                    filter: drop-shadow(0 0 13px #2E3C1D);
                }
                p{
                    position: relative;
                    visibility: visible;
                    opacity: 1;
                }
                button{
                    opacity: 1;
                    
                }
                button:hover{
                    background-color: #587239;
                }
            }
        }
    }
}

@media screen and (max-width:980px) {
    .btnMr{
        right: -150px;
    }
    .mainM{
        width: 100%;
        height: 100vh;
        .navbar{
            max-width: 100%;
            height: 100%;
            ul{
                left: 25%;
                top: 15px;
                height: auto;
                overflow: scroll;
            }
        }
    }
    .home{
        .homeHeader{
            div{
                h1{
                    font-size: 85px;
                }
                span{
                    width: 95%;
                    font-size: 40px;
                }
            }
        }
        .homeProduct{
            min-height: 800px;
            .hpTitle{
                width: 90%;
                height: 20%;
                span{
                    font-size: 30px;
                }
                overflow: hidden;
            }
            .arrowSlider{
                visibility: hidden;
            }
            .hpProduct{
                position: relative;
                overflow: scroll;
                padding-left: 0px;
                padding-right: 0px;
                width: 100%;
                height: 80%;
                scroll-snap-type: x mandatory;
                .hpProductItem{
                    min-width: 100% ;
                    height: 80%;
                    position: sticky !important;
                    object-fit: cover;
                    scroll-snap-align:center;
                }
            }
            .hpProduct::-webkit-scrollbar {
                width: 100%;
            }
            .hpProduct::-webkit-scrollbar-track {
                height: 10px !important;
                margin: 170px;
                background-color: #58723948;
                border-radius: 10px;
            }
              .hpProduct::-webkit-scrollbar-thumb {
                height: 10px;
                border-radius: 10px;
                background-color:#83A841;
            }
        }
        .shortPage{
            flex-direction: column;
            height: auto;
            
            min-height: 1800px;
            .shortPageItem{
                width: 100%;
                height: 90vh;
                min-height: 600px;
                overflow: hidden;
                position: relative;
                .filter{
                    height: calc(100%*3);
                    position: absolute;
                }
                img{
                    object-fit:fill;
                    height: auto;
                    min-height: 100vh;
                    min-width: 100%;
                }
            }
        }
    }
    .aboutUs{
        .aboutUsSec{
            align-items: center;
            img{
                width: auto;
                height: 100%;
            }
            .content{
                width: 100%;
                align-items: center;
                h3{
                    filter: drop-shadow(0 0 1px black);
                }
                p{
                    font-size: 28px;
                }
            }
            
        }
        .Par, .Inpar{
            align-items: center;
        }
        .Inpar{
            .content{
                p{
                    filter: drop-shadow(0 0 0.5px white);
                }
            };
        }
    }
    .productos{
        .pHeader{
            .infoC{
                h2{
                    font-size: 40px;
                }
                h3{
                    font-size: 35px;
                }
            }
        }
    }
    footer{
        .fc{
            .firstf{
                flex-direction: column;
                justify-content: center;
                gap: 5px;
            }
            .fd{
                flex-direction: column;
                font-size: 20px;
            }
        }
    }
}
.lcode{
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: bolder;
    transition: all 0.3s ease-in-out;
}
.lcode:hover{
    color: blue;
}